@(user: User, usersList: List[User], userRequests: List[UserRequests],  historyUsersRequests: List[UserRequests], userBills: List[Bill], storesList: List[AdminStores], created: Int, payed: Int, unpayed: Int, canceled: Int)
@import play.i18n._


@adminindex(user){


<div id="page-container" class="fade in">

	<div class="navbar navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
        </button>
        <!-- <a id="logo" class="navbar-brand" href="#">Trust <i class="fa fa-cube"></i> Market</a> -->
        <a id="logo" class="navbar-brand" href="#">Trust <i class="fa fa-shopping-cart"></i> Market</a>
      </div>
      <div class="navbar-collapse collapse">
      	<ul class="nav navbar-nav navbar-right">
          <li><a id="conditional_link" href="#">@Messages.get("menu.conditional")</a></li>
          <li class="dropdown animate-click" data-animate="animated fadeInUp" style="z-index:500;">
	         	<a href="#" class="dropdown-toggle dropdown-form-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
	         	
            <ul class="dropdown-menu dropdown-menu-user animate-wr animated fadeInUp">
		  	        <li class="admin-name">@user.getFirstName @user.getLastName</li>
		    	      <li><a href="@routes.SecurityController.logout()">@Messages.get("menu.logout")</a></li>
            </ul>
	     		</li>
	     	  <li class="aux-languages dropdown animate-click" data-animate="animated fadeInUp" style="z-index:500;">
	     			<a href="#" class="dropdown-toggle dropdown-form-toggle" data-toggle="dropdown"><span class="language name">@Messages.get("lang." + lang.language)</span></a>
	     			<ul id="auxLanguages" class="dropdown-menu dropdown-menu-user animate-wr animated fadeInUp">
	     				@if(lang.language == "ru"){
	               <li><span class="language language-active">@Messages.get("lang.ru")</span></li>
	     				}else{
	               <li><a href="@routes.AdminController.admchangelang("ru")""><span class="language">@Messages.get("lang.ru")</span></a></li>
	     				}

	     				@if(lang.language == "et"){
	               <li><span class="language language-active">@Messages.get("lang.et")</span></li>
	     				}else{
	               <li><a href="@routes.AdminController.admchangelang("et")"><span class="language">@Messages.get("lang.et")</span></a></li>
							}	     			 		
	          </ul>
          </li>
   	    </ul>
      </div>
		</div>
	</div>
	
	<div id="sidebar" class="sidebar">
		<ul class="nav" role="tablist">
			<li class="active">
				<a href="#dashboard-tab" role="tab" data-toggle="tab">
					<i class="fa fa-desktop"></i>
					<span>@Messages.get("dashboard.title")</span>
				</a>
			</li>
			<li>
				<a href="#users-tab" role="tab" data-toggle="tab">
					<i class="fa fa-users"></i>
					<span>@Messages.get("users.title")</span>
				</a>
			</li>
			<li>
				<a href="#req-history-tab" role="tab" data-toggle="tab">
					<i class="fa fa-list-alt"></i>
					<span>@Messages.get("historyrequest.title")</span>
				</a>
			</li>
			<li>
				<a href="#bills-tab" role="tab" data-toggle="tab">
					<i class="fa fa-money"></i>
					<span>@Messages.get("bills.title")</span>
				</a>
			</li>
			<li>
				<a href="#stores-tab" role="tab" data-toggle="tab">
					<i class="fa fa-shopping-cart"></i>
					<span>@Messages.get("stores.title")</span>
				</a>
			</li>
		</ul>
	</div>

	<div id="content" class="content tab-content">
		
		<div class="tab-pane active" id="dashboard-tab">
	
			<h1 class="page-header">@Messages.get("dashboard.title")</h1>
		
			<div id="widgets" class="row">
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6 ui-sortable">
					<div class="widget widget-state bg-purple">
						<div class="state-icon"><i class="fa fa-users"></i></div>
						<div class="state-info">
							<h4>@Messages.get("users.count.title")</h4>
							<p>@usersList.size</p>	
						</div>
						<div class="state-link">
							<a href="javascript:;" class="tab-open" data-tab-click="#users-tab">@Messages.get("view.detail") <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6 ui-sortable">
					<div class="widget widget-state bg-yellow">
						<div class="state-icon"><i class="fa fa-money"></i></div>
						<div class="state-info">
							<h4>@Messages.get("createdreq.title")</h4>
							<p>@created</p>	
						</div>
						<div class="state-link">
							<a href="javascript:;" class="tab-open" data-tab-click="#bills-tab">@Messages.get("view.detail") <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6 ui-sortable">
					<div class="widget widget-state bg-green">
						<div class="state-icon"><i class="fa fa-money"></i></div>
						<div class="state-info">
							<h4>@Messages.get("payedreq.title")</h4>
							<p>@payed</p>	
						</div>
						<div class="state-link">
							<a href="javascript:;" class="tab-open" data-tab-click="#bills-tab">@Messages.get("view.detail") <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6 ui-sortable">
					<div class="widget widget-state bg-red">
						<div class="state-icon"><i class="fa fa-money"></i></div>
						<div class="state-info">
							<h4>@Messages.get("unpayedreq.title")</h4>
							<p>@unpayed / @canceled</p>	
						</div>
						<div class="state-link">
							<a href="javascript:;" class="tab-open" data-tab-click="#bills-tab">@Messages.get("view.detail") <i class="fa fa-arrow-circle-o-right "></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
			</div>
			
			<div class="row">
				<div class="col-md-12">
				
				@if(userRequests.size == 0) {
					<div class="alert alert-info" role="alert">@Messages.get("nonewrequest.title")</div>
				
				} else {
		
					<div class="panel panel-inverse">
					
						<div class="panel-heading">
							<h4 class="panel-title">@Messages.get("newrequest.title")</h4>
        		</div>
        		<div class="panel-body">
							<div id="user-requests-list" class="table-responsive">
						  	<table class="table">
						  		<thead>
										<tr>
											<th>@Messages.get("request.number")</th>
											<th>@Messages.get("bill.number")</th>
											<th>@Messages.get("request.createdbyuser")</th>
											<th>@Messages.get("request.count")</th>
											<th class="euro">@Messages.get("request.delivery") &euro;</th>
											<th class="euro">@Messages.get("request.commission") &euro;</th>
											<th class="euro">@Messages.get("request.totalsumma") &euro;</th>
											<th>@Messages.get("request.status")</th>
											<th>@Messages.get("request.type")</th>
											<th></th>
										</tr>
						  		</thead>
						  		<tbody>
				  				@for(userRequest <- userRequests) {
					  				<tr id="userrequestitem_@userRequest.getUserRequestId">
					  					<td>@userRequest.getUserRequestId</td>
					  					<td>@if(userRequest.getBill != null){ @userRequest.getBill.getBillId }else{ - }</td>
					  					<td>@userRequest.getUser.getFirstName @userRequest.getUser.getLastName</td>
					  					<td>@userRequest.getRequest.size</td>
					  					<td>
					  					@if(userRequest.getRequestsType == "FULL") {
					  						@if(userRequest.getStatus != "SENDED") {
						  					<input id="deliveryPrice_@userRequest.getUserRequestId" type="number" min="0.00" tabindex="6" class="deliveryprices form-control" placeholder="0.00" value="@utils.MoneyUtils.formatPrice(userRequest.getDeliveryPrice)" style="width:90px;"/>
					  						}else{
					  						<span id="deliveryprice_out_@userRequest.getUserRequestId">@utils.MoneyUtils.formatPrice(userRequest.getDeliveryPrice)</span> &euro;
					  						}
					  					}else{
					  						-
					  					}
					  					</td>
					  					<td><span id="commissionprice_out_@userRequest.getUserRequestId">@utils.MoneyUtils.formatPrice(userRequest.getCommissionPrice)</span> &euro;</td>
					  					<td><span id="totalprice_out_@userRequest.getUserRequestId">@utils.MoneyUtils.formatPrice(userRequest.getTotalPrice)</span> &euro;</td>
					  					<td>@userRequest.getStatus</td>
					  					
					  					<td>@userRequest.getRequestsType</td>
					  					<td class="list_actions">
					  						<div class="btn-group">
						  						<button onclick="closeOpenActions(this, 'requests', @userRequest.getUserRequestId);" class="btn btn-xs btn-info"><i class="fa fa-info-circle bigger-120 list-icon"></i></button>
						  						<button onclick="sendRequestMessage(@userRequest.getUserRequestId); return false;"  class="btn btn-xs btn-warning"><i class="fa fa-envelope bigger-120 list-icon" ></i></button>
						  						<button onclick="closeOpenActions(this, 'messages', @userRequest.getUserRequestId, true);" class="btn btn-xs btn-purple">
						  							<i class="fa fa-comment bigger-120 list-icon"></i>
						  							<span class="label">@userRequest.getQuestionMessages.size</span>
						  						</button>
													@if(userRequest.getBill == null) {

													  @if(userRequest.getRequestsType == "FULL") {
														<button onclick="createBill(@userRequest.getUserRequestId, @utils.MoneyUtils.formatPrice(userRequest.getTotalRequestsTotalPrices), @utils.MoneyUtils.formatPrice(userRequest.getDeliveryPrice)); return false;"  class="btn btn-xs btn-success"><i class="fa fa-money bigger-120 list-icon" ></i></button>
														}else{
														<button onclick="createDeliveryBill(@userRequest.getUserRequestId, @utils.MoneyUtils.formatPrice(userRequest.getTotalRequestsTotalPrices)); return false;"  class="btn btn-xs btn-success"><i class="fa fa-money bigger-120 list-icon" ></i></button>
														}
														
													}
					  						</div>
					  					</td>
					  				<tr>
					  				<tr id="requests_list_@userRequest.getUserRequestId" style="display:none;">
					  					<td colspan="10">
					  						<div class="table-responsive">
							  					<table  class="table table-bordered sub-lists" >
							  						<thead>
							  							<th>@Messages.get("request.name")</th>
						             			<th class="count">@Messages.get("request.count")</th>
						       						@if(userRequest.getRequestsType == "FULL") {
								             	<th>@Messages.get("request.color")</th>
						             			<th>@Messages.get("request.size")</th>
						             			<th>@Messages.get("request.article")</th>
						             			}else{
						             			<th>@Messages.get("request.packagecode")</th>
						             			<th>@Messages.get("request.file")</th>
						             			}
						             			<th>@Messages.get("request.desc")</th>
												      <th class="euro">@Messages.get("request.price") &euro;</th>
											        <th class="euro">@Messages.get("request.summa") &euro;</th>
						             			
						             			<th>@Messages.get("request.date")</th>
						             			<th>@Messages.get("request.type")</th>
							  						</thead>
							  						<tbody>
							  							@for(request <- userRequest.getRequest) {
							  							<tr>
							  								<td class="name">@if(request.getType == "FULL") {<a href="@request.getStoreLink" target="_blank">@request.getName</a> <small style="display:block;">@utils.StringUtils.substring(request.getStoreLink, 30)</small>}else{@Messages.get("request.deliveryname")}</td>
							  								<td>@request.getCount</td>
							  								@if(request.getType == "FULL") {
							                  <td>@request.getColor</td>
							                  <td>@request.getSize</td>
							                  <td>@request.getArticle</td>
							                  }else{
							                  <td>@request.getPackageCode</td>
							                  <td>
							                  @for(doc <- request.getDocuments) {
								                  <a href="@routes.AdminController.getdoc(doc)" target="_blank"><i class="fa fa-file-o"><!-- --></i></a>
							                  }
							                  </td>
							                  }
							                  <td>@request.getDescription</td>
							                  <td>@utils.MoneyUtils.formatPrice(request.getPrice) &euro;</td>
            										<td>@utils.MoneyUtils.formatPrice(request.getTotalSumma) &euro;</td>
							                  <td>@(request.getCreated.format("dd.MM.yyyy"))</td>
							                  <td>@request.getType</td>
							  							</tr>
							  							}
							  						</tbody>
							  					</table>
							  				</div>
							  			</td>
							  		</tr>
				  				@if(userRequest.getBill != null) {
			          	<tr>
			          		<td colspan="10">
			          			<div class="table-responsive">
				          			<table id="requests_bill_@userRequest.getUserRequestId" class="table table-bordered sub-lists ">
				          			  <thead>
				                		<tr>
				                			<th>@Messages.get("bill.number")</th>
				                			<th class="euro">@Messages.get("request.summa") &euro;</th>
						                	<th class="euro">@Messages.get("request.delivery") &euro;</th>
						                	<th class="euro">@Messages.get("request.commission") &euro;</th>
						                	<th class="euro">@Messages.get("request.totalsumma") &euro;</th>
						                	<th>@Messages.get("request.status")</th>
						                	<th>@Messages.get("request.date")</th>
						                	<th>@Messages.get("request.payer")</th>
						                	<th></th>
				                		</tr>
				              		</thead>
				              		<tbody>
				                 		<tr class="state_@userRequest.getBill.getBillState">
				                 			<td>@userRequest.getBill.getBillId</td>
				                 			<td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getProductSumma) &euro;</td>
				                      <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getDeliverySumma) &euro;</td>
				                      <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getServiceSumma) &euro;</td>
				                      <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getTotalSumma) &euro;</td>
				                      <td>@userRequest.getBill.getBillState</td>
															<td>@userRequest.getBill.getCreated.format("dd.MM.yyyy")</td>
															<td>@userRequest.getUser.getFirstName @userRequest.getUser.getLastName</td>
						                  <td class="list_actions">
						                  	<div class="btn-group">
																	@if(userRequest.getBill != null && userRequest.getBill.getBillState != "PAYED") {
																	<button onclick="markPayed(@userRequest.getBill.getBillId); return false;"  class="btn btn-xs btn-success">@Messages.get("btn.markpayed") <i class="fa fa-check-circle bigger-120 list-icon" ></i></button>
																	}
																	@if(userRequest.getBill != null && userRequest.getBill.getBillState != "CANCELED") {
																	<button onclick="markCanceled(@userRequest.getBill.getBillId); return false;"  class="btn btn-xs btn-danger">@Messages.get("btn.markcanceled") <i class="fa fa-check-circle bigger-120 list-icon"></i></button>
																	}
						                  	</div>
						                  </td>
				                 		</tr>
				              		</tbody>
				              	</table>
			              	</div>
			              </td>
			          	</tr>
			           	}
				  				<tr id="messages_list_@userRequest.getUserRequestId" style="display:none;">
          					<td colspan="10">
          						<div class="table-responsive">
	          						<table  class="table table-bordered sub-lists" >
	          							<thead>
						                <tr>
						                	<th colspan="3">@Messages.get("request.message")</th>
							               	<th>@Messages.get("request.user")</th>
								              <th>@Messages.get("request.date")</th>
								            </tr>
								          </thead>
								          <tbody>
								          @for(message <- userRequest.getQuestionMessages) {
								          	<tr class="question_messages">
								          		<td colspan="3">@message.getMessage</td>
						                 	<td>@message.getUser.getFirstName @message.getUser.getLastName</td>
						                 	<td>@(message.getCreated.format("dd.MM.yyyy"))</td>
						             		</tr>
		              					@if(message.getReplyMessages.size > 0) {
		               						@for(answer <- message.getReplyMessages) {
					                	<tr class="answer_messages">
					                	  <td></td>
					                    <td colspan="2">@answer.getMessage</td>
					                    <td>@answer.getUser.getFirstName @answer.getUser.getLastName</td>
					                    <td>@(answer.getCreated.format("dd.MM.yyyy"))</td>
					                	</tr>
						                	}
		      			         		}
		            			 		}
			          					</tbody>
	          						</table>
	          					</div>
			          		</td>
      			    	</tr>
				  				}
				  				</tbody>
						  		
						  	</table>
						  </div>
						</div>
					</div>
					}
				</div>
			</div>
		</div> <!-- dashboard tab end -->
		
		<div class="tab-pane" id="users-tab">
	
			<h1 class="page-header">@Messages.get("users.title")</h1>
		
			<div class="row">
				<div class="col-md-12">
				
					@if(usersList.size == 0) {
					<div class="alert alert-info" role="alert">@Messages.get("nousers.title")</div>
				
					} else {
						<div class="table-responsive">
						  <table class="table">
				     		<thead>
				     			<tr>
				          	<th>@Messages.get("user.username")</th>
				            <th>@Messages.get("user.firstname")</th>
				            <th>@Messages.get("user.lastname")</th>
			             	<th>@Messages.get("user.birthday")</th>
			             	<th>@Messages.get("user.passportnr")</th>
			             	<th>@Messages.get("user.email")</th>
				            <th>@Messages.get("user.date")</th>
										<th></th>            
				          </tr>
				        </thead>
				        <tbody>
				        	@for(userd <- usersList) {
					      	<tr>
					      		<td>@userd.getUsername</td>
					          <td>@userd.getFirstName</td>
					          <td>@userd.getLastName</td>
					          <td>@if(userd.getBirthday != null){@userd.getBirthday.format("dd.MM.yyyy")}else{-}</td>
					          <td>@userd.getPassportNr</td>
					          <td>@userd.getEmail</td>
					          <td>@userd.getCreated.format("dd.MM.yyyy")</td>
					        </tr>
						      }
					      </tbody>
					    </table>
					  </div>
	      	}
				</div>
			</div>
		
		</div><!-- users tab end -->

		<div class="tab-pane" id="req-history-tab">
	
			<h1 class="page-header">@Messages.get("historyrequest.title")</h1>
		
			<div class="row">
				<div class="col-md-12">

					@if(historyUsersRequests.size == 0) {
					<div class="alert alert-info" role="alert">@Messages.get("nohistoryrequest.title")</div>
					} else {
					
						<div id="history_userrequest" class="table-responsive">
							<table class="table ">
								<thead>
									<tr>
										<th>@Messages.get("request.number")</th>
							    	<th>@Messages.get("request.reqcreated")</th>
							    	<th>@Messages.get("request.billcreated")</th>
							    	<th class="euro">@Messages.get("request.totalsumma") &euro;</th>
							    	<th>@Messages.get("request.status")</th>
							    	<th>@Messages.get("request.paymentdate")</th>
						       	<th class="actions"></th>
							   </tr>
							  </thead>
							  <tbody>
								@for(userRequest <- historyUsersRequests) {
							   	<tr id="requestitem_@userRequest.getUserRequestId " class="item state_@userRequest.getBill.getBillState">
							   	 	<td>@userRequest.getUserRequestId</td>
							   		<td>@(userRequest.getCreated.format("dd.MM.yyyy"))</td>
							   		<td>@(userRequest.getBill.getCreated.format("dd.MM.yyyy"))</td>
						        <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getTotalSumma) &euro;</td>
						        <td>@userRequest.getBill.getBillState</td>
						        @if(userRequest.getBill.getBillState == "PAYED") {
							   		<td>@(userRequest.getBill.getPayed.format("dd.MM.yyyy"))</td>
							   		}else{
							        @if(userRequest.getBill.getBillState == "UNPAYED") {
								   		<td>@(userRequest.getBill.getUnpayed.format("dd.MM.yyyy"))</td>
								   		}else{
								   			<td>@(userRequest.getBill.getActionDate.format("dd.MM.yyyy"))</td>
								   		}
							   		}
						        <td class="list_actions">
						        	<div class="btn-group">
							        	<button onclick="closeOpenActions(this, 'requests', @userRequest.getUserRequestId); return false;" class="btn btn-xs btn-info"><i class="fa fa-info-circle bigger-120 list-icon"></i></button>
						        	</div>
						        </td>
							   	</tr>
							   	
							   	<tr id="requests_list_@userRequest.getUserRequestId" style="display:none;">
							    	<td colspan="7">
							    		<div class="table-responsive">
						  					<table  class="table table-bordered sub-lists requests_bill">
								   			  <thead>
								         		<tr>
								         			<th class="euro">@Messages.get("request.summa") &euro;</th>
									           	<th class="euro">@Messages.get("request.delivery") &euro;</th>
									           	<th class="euro">@Messages.get("request.commission") &euro;</th>
									           	<th class="euro">@Messages.get("request.totalsumma") &euro;</th>
									           	<th>@Messages.get("request.status")</th>
									           	<th>@Messages.get("request.date")</th>
									           	<th>@Messages.get("request.payer")</th>
								         		</tr>
								       		</thead>
								       		<tbody>
								       			<tr>
								       				<td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getProductSumma) &euro;</td>
								              <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getDeliverySumma) &euro;</td>
								              <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getServiceSumma) &euro;</td>
								              <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getTotalSumma) &euro;</td>
								              <td>@userRequest.getBill.getBillState</td>
															<td>@userRequest.getBill.getCreated.format("dd.MM.yyyy")</td>
															<td>@userRequest.getUser.getFirstName @userRequest.getUser.getLastName</td>
							          		</tr>
								       		</tbody>
								       	</table>
								      </div>
							    		<div class="table-responsive">
						  					<table  class="table table-bordered sub-lists requests_list">
								   				<thead>
								   					<tr>
											        <th>@Messages.get("request.name")</th>
										         	<th class="count">@Messages.get("request.count")</th>
											        <th class="euro">@Messages.get("request.price") &euro;</th>
										         	<th class="euro">@Messages.get("request.summa") &euro;</th>
								         		</tr>
								       		</thead>
								       		<tbody>
								       			@for(request <- userRequest.getRequest) {
								          	<tr>
								   						<td class="name">@request.getName</td>
							            		<td>@request.getCount</td>
							            		<td>@utils.MoneyUtils.formatPrice(request.getPrice) &euro;</td>
							            		<td>@utils.MoneyUtils.formatPrice(request.getTotalSumma) &euro;</td>
							            	</tr>
							            	}
							            </tbody>
							          </table>
							        </div>
							    		<div class="table-responsive">
						  					<table  class="table table-bordered sub-lists requests_list">
								   				<thead>
								   					<tr>
								           		<th>@Messages.get("request.link")</th>
								           		<th>@Messages.get("request.color")</th>
								         			<th>@Messages.get("request.size")</th>
								         			<th>@Messages.get("request.article")</th>
								         			<th>@Messages.get("request.desc")</th>
								         			<th>@Messages.get("request.date")</th>
								         			<th>@Messages.get("request.type")</th>
								         		</tr>
								       		</thead>
								       		<tbody>
								       			@for(request <- userRequest.getRequest) {
								          	<tr>
							             		<td>@utils.StringUtils.substring(request.getStoreLink, 35)</td>
								              <td>@request.getColor</td>
								              <td>@request.getSize</td>
								              <td>@request.getArticle</td>
								              <td>@request.getDescription</td>
								              <td>@(request.getCreated.format("dd.MM.yyyy"))</td>
								              <td>@request.getType</td>
								          	</tr>
								          	}
								        	</tbody>
								   			</table>
								   		</div>
							    		<div class="table-responsive">
						  					<table  class="table table-bordered sub-lists messages_list">
								   				<thead>
								   					<tr>
							               	<th colspan="3">@Messages.get("request.message")</th>
							               	<th>@Messages.get("request.user")</th>
								              <th>@Messages.get("request.date")</th>
								            </tr>
								          </thead>
								          <tbody>
									        @for(message <- userRequest.getQuestionMessages) {
								          	<tr class="question_messages">
								            	<td colspan="3">@message.getMessage</td>
							                <td>@message.getUser.getFirstName @message.getUser.getLastName</td>
							                <td>@(message.getCreated.format("dd.MM.yyyy"))</td>
							             	</tr>
							              @if(message.getReplyMessages.size > 0) {
								             	@for(answer <- message.getReplyMessages) {
									           	<tr class="answer_messages">
									           		<td></td>
							                  <td colspan="2">@answer.getMessage</td>
							                  <td>@answer.getUser.getFirstName @answer.getUser.getLastName</td>
							                  <td>@(answer.getCreated.format("dd.MM.yyyy"))</td>
							               	</tr>
							                }
								            }
								          }
									        </tbody>
							          </table>
							        </div>
							    	</td>
							    </tr>
							  }
							  </tbody>
							</table>
						</div>
		
					}
				</div>
			</div>
		
		</div><!-- req-history tab end -->

		<div class="tab-pane" id="bills-tab">
	
			<h1 class="page-header">@Messages.get("bills.title")</h1>
		
			<div class="row">
				<div class="col-md-12">
				
			    @if(userBills.size == 0) {
        	<div class="alert alert-info" role="alert">@Messages.get("nobills.title")</div>
          } else {
					<div id="user-requests-list" class="table-responsive">
					  <table class="table bills_list ">
	            <thead>
                <tr>
             			<th>@Messages.get("bill.number")</th>
             			<th class="euro">@Messages.get("request.summa") &euro;</th>
	               	<th class="euro">@Messages.get("request.delivery") &euro;</th>
	               	<th class="euro">@Messages.get("request.commission") &euro;</th>
	               	<th class="euro">@Messages.get("request.totalsumma") &euro;</th>
	               	<th>@Messages.get("request.status")</th>
	               	<th>@Messages.get("request.date")</th>
	               	<th>@Messages.get("request.payer")</th>
                </tr>
	            </thead>
	            <tbody>
               	@for(bill <- userBills) {
                  <tr class="state_@bill.getBillState">
                		<td>@bill.getBillId</td>
	                  <td>@utils.MoneyUtils.formatPrice(bill.getProductSumma) &euro;</td>
  	                <td>@utils.MoneyUtils.formatPrice(bill.getDeliverySumma) &euro;</td>
                    <td>@utils.MoneyUtils.formatPrice(bill.getServiceSumma) &euro;</td>
                    <td>@utils.MoneyUtils.formatPrice(bill.getTotalSumma) &euro;</td>
                    <td>@bill.getBillState</td>
									<td>@bill.getCreated.format("dd.MM.yyyy")</td>
									<td>@bill.getUserRequests.getUser.getFirstName @bill.getUserRequests.getUser.getLastName</td>
                  </tr>
            	  	}
	            </tbody>
    				</table>
    			</div>
    			}
				</div>
			</div>
		
		</div><!-- bills tab end -->
	
		<div class="tab-pane" id="stores-tab">
			<h1 class="page-header">@Messages.get("stores.title")</h1>
			<div class="row">
				<div class="col-md-12">
				
					@if(storesList.size == 0) {
					<div class="alert alert-info" role="alert">@Messages.get("nostores.title")</div>
				
					} else {
						<div class="table-responsive">
						  <table class="table">
				     		<thead>
				     			<tr>
				          	<th>@Messages.get("store.name_ru")</th>
				          	<th>@Messages.get("store.name_eng")</th>
				          	<th>@Messages.get("store.name_est")</th>
				          	<th>@Messages.get("store.description_ru")</th>
				          	<th>@Messages.get("store.description_eng")</th>
				          	<th>@Messages.get("store.description_est")</th>
				          	<th>@Messages.get("store.link")</th>
				          	<th>@Messages.get("store.image")</th>
										<th></th>            
				          </tr>
				        </thead>
				        <tbody>
				        	@for(stores <- storesList) {
					      	<tr>
					      		<td>@stores.getNameRu</td>
					        </tr>
						      }
					      </tbody>
					    </table>
					  </div>
	      	}
				</div>
			</div>
		</div>
	</div> <!-- content end -->
</div>


	<div id="messagedialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
	    		<h3 class="header"></h3>
	    	</div>
    @helper.form(routes.AdminController.sendanswermessage, 'id -> "messageForm") {
	    	<div class="modal-body">
	    		<div class="row">
	        	<div class="col-md-12">
		        	<div class="alert alert-danger errors" style="display:none;" role="alert">...</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group">
						  	<label for="message">@Messages.get("form.message")</label>
					      <textarea name="message" tabindex="17" class="form-control"  style="height: 150px;" placeholder="@Messages.get("form.message")"></textarea>
	        		</div>
	        	</div>
	        </div>
	    	</div>
	    	<div class="modal-footer">
		      <input type="hidden" id="userrequestid" name="userrequestid" value="">
		      <input type="hidden" id="origmsgid" name="origmsgid" value="0">
		      <input type="submit" id="sendmsgBtn" class="btn btn-2"  value="@Messages.get("btn.send")" tabindex="18">
	    	</div>
	    	}
	    </div>
		</div>
	</div>
	
		    
	<div id="billdialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
	    		<h3 class="header"></h3>
	    	</div>
	    	@helper.form(routes.AdminController.createbill, 'id -> "billForm") {
	    	<div class="modal-body">
	    		<div class="row">
	        	<div class="col-md-12">
		        	<div class="alert alert-danger errors" style="display:none;" role="alert">...</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group">
		         		<label for="productsumma">@Messages.get("request.summa")</label>
			      		<input id="productsumma" name="productsumma" type="text" tabindex="20" value="0" placeholder="@Messages.get("request.summa")" class="mandatory form-control"/>
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group">
		         		<label for="deliverysumma">@Messages.get("request.delivery")</label>
			      		<input id="deliverysumma" name="deliverysumma" type="text" tabindex="19" value="0" placeholder="@Messages.get("request.delivery")" class="mandatory form-control"/>
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group">
		         		<label for="servicesumma">@Messages.get("request.commission")</label>
			      		<input id="servicesumma" name="servicesumma" type="text" tabindex="20" value="" placeholder="@Messages.get("request.commission")" readonly="true" class="form-control"/>
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group">
		         		<label for="totalsumma">@Messages.get("request.totalsumma")</label>
			      		<input id="totalsumma" name="totalsumma" type="text" tabindex="21" value="" placeholder="@Messages.get("request.totalsumma")" readonly="true" class="form-control"/>
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
				      <input type="hidden" id="userrequestid" name="userrequestid" value="">
				      <input type="hidden" id="requesttype" name="userrequestid" value="1">
							<a href="#" id="createbillBtn" class="btn btn-2 pull-left" tabindex="22">@Messages.get("btn.send")</a>
	        	</div>
	        </div>
				</div>	    	
	    	}
	    </div>
	  </div>
	</div>
	
	
	<div id="billdeliverydialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
	    		<h3 class="header"></h3>
	    	</div>
	    	@helper.form(routes.AdminController.createbill, 'id -> "billDeliveryForm") {
	    	<div class="modal-body">
	    		<div class="row">
	        	<div class="col-md-12">
		        	<div class="alert alert-danger errors" style="display:none;" role="alert">...</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group">
		         		<label for="productsumma">@Messages.get("request.summa")</label>
			      		<input id="productsumma" name="productsumma" type="text" tabindex="20" value="0" placeholder="@Messages.get("request.summa")" class="mandatory form-control"/>
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group">
		         		<label for="servicesumma">@Messages.get("request.commission")</label>
			      		<input id="servicesumma" name="servicesumma" type="text" tabindex="20" value="" placeholder="@Messages.get("request.commission")" readonly="true" class="form-control"/>
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group">
		         		<label for="totalsumma">@Messages.get("request.totalsumma")</label>
			      		<input id="totalsumma" name="totalsumma" type="text" tabindex="21" value="" placeholder="@Messages.get("request.totalsumma")" readonly="true" class="form-control"/>
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
				      <input type="hidden" id="userrequestid" name="userrequestid" value="">
				      <input type="hidden" id="requesttype" name="userrequestid" value="2">
							<a href="#" id="createdelbillBtn" class="btn btn-2 pull-left" tabindex="22">@Messages.get("btn.send")</a>
	        	</div>
	        </div>
	      </div>
	      }
	    </div>
	  </div>
	</div>
}