@(loginform: Form[forms.LoginForm], registrationForm: Form[forms.RegistrationForm], user: User, possibleRequest: forms.PossibleRequestForm, randomID: String)
@import play.i18n._


@main(user) {

	<div class="navbar navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a id="logo" class="navbar-brand" href="#">Trust <i class="fa fa-cube"></i> Market</a> -->
        <a id="logo" class="navbar-brand" href="#">Trust <i class="fa fa-shopping-cart"></i> Market</a>
        
      </div>
      <div id="navigation" class="navbar-collapse collapse">
      	<ul class="nav navbar-nav navbar-right">
      		<li class="active"><a id="home_menu_link" class="nav" href="#">@Messages.get("menu.home")</a></li>
          <li><a id="calculator_menu_link" class="nav" href="#calculator_block">@Messages.get("menu.calculate")</a></li>
          <li><a id="howworks_menu_link" class="nav" href="#howworks_block">@Messages.get("menu.work")</a></li>
          <li><a id="shops_link" href="#">@Messages.get("menu.shops")</a></li>
          <li><a id="contact_menu_link" class="nav" href="#contact_block">@Messages.get("menu.contact")</a></li>
          <li><a id="conditional_link" href="#">@Messages.get("menu.conditional")</a></li>
          <li class="dropdown animate-click" data-animate="animated fadeInUp" style="z-index:500;">
	         	<a href="#" class="dropdown-toggle dropdown-form-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
	         	
            <ul class="dropdown-menu dropdown-menu-user animate-wr animated fadeInUp">
             	@if(user != null) {
		  	        <li><a id="username" href="@routes.SecurityController.redirection()">@user.getFirstName @user.getLastName</a></li>
		    	      <li><a href="@routes.SecurityController.logout()">@Messages.get("menu.logout")</a></li>
             	}else{
                <li id="dropdownForm">
                	<div class="dropdown-form">
                		@helper.form(routes.SecurityController.authenticate, 'id -> "loginForm", 'class -> "form-default form p-15") {
                			<div class="form-group">
                				<input type="text" name="username" class="form-control" placeholder="@Messages.get("login.username")" class="mandatory">
                			</div>
                			<div class="form-group">
        				        <input type="password" name="password" class="form-control" placeholder="@Messages.get("login.password")" class="mandatory">
        				       </div>
                       <button id="loginBtn" class="btn btn-2 " type="button">@Messages.get("btn.login")</button>
                    }
                  </div>
                </li>
              }
            </ul>
	     		</li>
	     		<li class="shopping-cart ">
	     			<a id="scart" href="#" class="dropdown-toggle dropdown-form-toggle">
	     				<i class="fa fa-shopping-cart"></i>
	     				<span class="label count">@if(possibleRequest != null && possibleRequest.getRequests != null){@possibleRequest.getRequests.size}else{0}</span>
	     			</a>
	     		</li>
	     	  <li class="aux-languages dropdown animate-click" data-animate="animated fadeInUp" style="z-index:500;">
	     			<a href="#" class="dropdown-toggle dropdown-form-toggle" data-toggle="dropdown"><span class="language name">@Messages.get("lang." + lang.language)</span></a>
	     			<ul id="auxLanguages" class="dropdown-menu dropdown-menu-user animate-wr animated fadeInUp">
	     				@if(lang.language == "ru"){
	               <li><span class="language language-active">@Messages.get("lang.ru")</span></li>
	     				}else{
	               <li><a href="@routes.Application.changelang("ru")""><span class="language">@Messages.get("lang.ru")</span></a></li>
	     				}

	     				@if(lang.language == "et"){
	               <li><span class="language language-active">@Messages.get("lang.et")</span></li>
	     				}else{
	               <li><a href="@routes.Application.changelang("et")"><span class="language">@Messages.get("lang.et")</span></a></li>
							}	     			 		
	          </ul>
          </li>
   	    </ul>
      </div>
		</div>
	</div>
	<section id="head-carousel" class="carousel slide" data-ride="carousel">
		<div class="container">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active carousel-1">
          <div class="row">
          	<div class="col-md-12">
          		<div class="text-left">
	          		<p class="title">@Messages.get("index.disapoint.title")</p>
   		      		<p>@Messages.get("index.disapoint.text")</p>
             		<p><a id="calculator_menu_link" class="btn btn-2" class="nav" href="#calculator_block">@Messages.get("menu.calculate")</a></p>
           		</div>
           </div>
          </div>
          
        </div>
        <div class="item carousel-2">
          <div class="row">
           <div class="col-md-12">
          		<div class="text-right">
	              <p class="title">@Messages.get("index.advantages.title")</p>
	              
	              <p><i class="fa fa-check-circle-o"></i><span class="large"> @Messages.get("index.advantages.btext1")</span> @Messages.get("index.advantages.text1")</p>
				       	<p><i class="fa fa-check-circle-o"></i><span class="large"> @Messages.get("index.advantages.btext2")</span> @Messages.get("index.advantages.text2")</p>
			         	<p><i class="fa fa-check-circle-o"></i><span class="large"> @Messages.get("index.advantages.btext3")</span> @Messages.get("index.advantages.text3")</p>
			         	<p><i class="fa fa-check-circle-o"></i><span class="large"> @Messages.get("index.advantages.btext4")</span> @Messages.get("index.advantages.text4")</p>
		         	</div>
            </div>
          </div>
        </div>
        <div class="item carousel-3">
          <div class="row">
          	<div class="col-md-12">
          		<div class="text-left">
	              <p class="title">@Messages.get("index.advantages.title")</p>
	              
			         	<p><i class="fa fa-check-circle-o"></i><span class="large"> @Messages.get("index.advantages.btext5")</span> @Messages.get("index.advantages.text5")</p>
			         	<p><i class="fa fa-check-circle-o"></i><span class="large"> @Messages.get("index.advantages.btext6")</span> @Messages.get("index.advantages.text6")</p>
			         	<p><i class="fa fa-check-circle-o"></i><span class="large"> @Messages.get("index.advantages.btext7")</span> @Messages.get("index.advantages.text7")</p>
	              
	              <p><a class="btn btn-2 registration-modal" title="" href="#">@Messages.get("btn.registration")</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>
	  </div>
 	</section>
	<section class="section bg-white p-15">
    <div class="p-tb-16">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                	<h1 class="text-center">@Messages.get("index.about.title")</h1>
                	<p>@Messages.get("index.about.text")</p>
                </div>
            </div>
        </div>
    </div>
  </section>    
  <section class="section bg-red p-15">
    <div class="p-tb-16">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                	<div class="text-center">
		                <p class="title">@Messages.get("index.interest.title")</p>
		                <p>@Messages.get("index.interest.text")</p>
		                <p><a class="btn btn-1 registration-modal" title="" href="#"><i class="fa fa-check"></i> @Messages.get("btn.registration")</a></p>
	                </div>
                </div>
            </div>
        </div>
    </div>
	</section>    
	<section id="calculator_block" class="section bg-gray">
		<div class="container">
			<div class="row">
        <h2 class="text-center">@Messages.get("index.calculation.title")</h2>
        <p>@Messages.get("index.calculation.text")</p>
        @helper.form(routes.Application.calculate, 'id -> "calculatorform",'name -> "calculatorform", 'class -> "clearfix form") {
        
	        <div class="row">
	        	<div class="col-md-12">
		        	<div class="alert alert-danger errors" style="display:none;" role="alert">...</div>
	        	</div>
	        </div>
	        
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group link">
							  	<label for="storelink">@Messages.get("form.link")*</label>
									<input  type="text" name="storelink" class="form-control" name="storelink" value="" placeholder="http://www.ebay.com/itm/..." tabindex="1" class="mandatory">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group name">
						  	<label for="name">@Messages.get("form.name")*</label>
								<input  type="text" name="name"  id="name"  class="form-control" value="" placeholder="@Messages.get("form.name")" tabindex="2" class="mandatory">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group size">
						  	<label for="size">@Messages.get("form.size")</label>
								<input id="size" name="size" type="text" class="form-control" value="" tabindex="3"  placeholder="XL">
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group article">
						  	<label for="article">@Messages.get("form.article")</label>
								<input id="article" name="article" type="text" value="" class="form-control" tabindex="4"  placeholder="@Messages.get("form.article")">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group price">
						  	<label for="price">@Messages.get("form.price")*</label>
								<input name="price" type="text" tabindex="5" class="form-control"  placeholder="99.00" class="mandatory isprice">
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group color">
						  	<label for="color">@Messages.get("form.color")</label>
								<input name="color" type="text" tabindex="6" class="form-control"  placeholder="@Messages.get("form.color")">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group price">
						  	<label for="count">@Messages.get("form.count")*</label>
								<input name="count" type="text" tabindex="7" class="form-control" placeholder="@Messages.get("form.count")" class="mandatory isnumber">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group color">
						  	<label for="description">@Messages.get("form.description")</label>
					      <textarea name="description" tabindex="8"  class="form-control" placeholder="@Messages.get("form.description")" style="min-height:90px;"></textarea>
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
							<input name="type" id="type" type="hidden" value="1">
							<input name="userRequestId" id="userRequestId" type="hidden" value="0">
							<input name="requestId" id="requestId" type="hidden" value="0">
							<a href="#" id="calculate" class="btn btn-2 pull-left" tabindex="9">@Messages.get("btn.calculate")</a>
						</div>
					</div>
				}
      </div>
    </div>
	</section>    
  <section id="howworks_block" class="section bg-white section_t_line">
		<div class="container">
			<div class="row text-center pad-row">
				<div class="col-md-3 col-sm-3">
					<a href="assets/images/etapp1.png" data-toggle="lightbox" data-title="@Messages.get("index.etap1.title")">
						<img src="assets/images/etapp1.png" class="img-circle" alt="@Messages.get("index.etap1.title")">
					</a>
					<p class="title">@Messages.get("index.etap1.title")</p>
          <p>@Messages.get("index.etap1.text")</p>
				</div>
				<div class="col-md-3 col-sm-3">
					<a href="assets/images/etapp2.png" data-toggle="lightbox" data-title="@Messages.get("index.etap2.title")">
						<img src="assets/images/etapp2.png" class="img-circle" alt="@Messages.get("index.etap2.title")">
					</a>
					<p class="title">@Messages.get("index.etap2.title")</p>
					<p>@Messages.get("index.etap2.text")</p>
				</div>
				<div class="col-md-3 col-sm-3">
					<a href="assets/images/etapp3.png" data-toggle="lightbox" data-title="@Messages.get("index.etap3.title")">
						<img src="assets/images/etapp3.png" class="img-circle" alt="@Messages.get("index.etap3.title")">
					</a>
					<p class="title">@Messages.get("index.etap3.title")</p>
					<p>@Messages.get("index.etap3.text")</p>
				</div>
				<div class="col-md-3 col-sm-3">
					<a href="assets/images/etapp4.png" data-toggle="lightbox" data-title="@Messages.get("index.etap4.title")">
						<img src="assets/images/etapp4.png" class="img-circle" alt="@Messages.get("index.etap4.title")">
					</a>
					<p class="title">@Messages.get("index.etap4.title")</p>
					<p>@Messages.get("index.etap4.text")</p>
				</div>
			</div>
		</div>
	</section>
  <section class="section bg-white section_t_line popular_shops">
		 <div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul id="shops-scroller">
						<li class="artigiano-logo"><a href="http://www.artigiano.co.uk" data-placement="top" title="@Messages.get("stores.artigiano.desc")" target="_blank"><img src="assets/images/shops_logo/artigiano-logo.jpg" alt="artigiano"></a></li>
						<li class="asos-logo"><a href="http://www.asos.com" data-placement="top" title="@Messages.get("stores.asos.desc")" target="_blank"><img src="assets/images/shops_logo/asos-logo.jpeg"  alt="asos"></a></li>
						<li class="east-logo"><a href="http://www.east.co.uk" data-placement="top" title="@Messages.get("stores.east.desc")" target="_blank"><img src="assets/images/shops_logo/east-logo.png" alt="east" ></a></li>
						<li class="matches-logo"><a href="http://www.matchesfashion.com/" data-placement="top" title="@Messages.get("stores.matches.desc")" target="_blank"><img src="assets/images/shops_logo/matches-logo.jpg" alt="matchesfashion" ></a></li>
						<li class="houseoffraser-logo"><a href="http://www.houseoffraser.co.uk" data-placement="top" title="@Messages.get("stores.houseoffraser.desc")" target="_blank"><img src="assets/images/shops_logo/houseoffraser-logo.jpeg" alt="houseoffraser" ></a></li>
						<li class="littlemistress-logo"><a href="http://www.little-mistress.co.uk" data-placement="top" title="@Messages.get("stores.littlemistress.desc")" target="_blank"><img src="assets/images/shops_logo/little-mistress-logo.png" alt="little-mistress" ></a></li>
						<li class="banana-logo"><a href="http://www.bananarepublic.co.uk" data-placement="top" title="@Messages.get("stores.banana.desc")" target="_blank"><img src="assets/images/shops_logo/banana-logo.jpeg" alt="bananarepublic" ></a></li>
						<li class="figleaves-logo"><a href="http://www.figleaves.com" data-placement="top" title="@Messages.get("stores.figleaves.desc")" target="_blank"><img src="assets/images/shops_logo/figleaves-logo.png" alt="figleaves" ></a></li>
						<li class="woolworths-logo"><a href="http://www.woolworths.co.uk" data-placement="top" title="@Messages.get("stores.woolworths.desc")" target="_blank"><img src="assets/images/shops_logo/woolworths-logo.gif" alt="woolworths" ></a></li>
						<li class="habitat-logo"><a href="http://www.habitat.co.uk" data-placement="top" title="@Messages.get("stores.habitat.desc")" target="_blank"><img src="assets/images/shops_logo/habitat-logo.gif" alt="habitat" ></a></li>
						<li class="village-logo"><a href="http://www.furniturevillage.co.uk/" title="@Messages.get("stores.village.desc")" target="_blank"><img src="assets/images/shops_logo/village-logo.png" alt="furniturevillage" ></a></li>
						<li class="ikea-logo"><a href="http://www.ikea.com" title="@Messages.get("stores.ikea.desc")" target="_blank"><img src="assets/images/shops_logo/ikea-logo.jpeg" alt="ikea" ></a></li>
						<li class="pixmania-logo"><a href="http://www.pixmania.co.uk" title="@Messages.get("stores.pixmania.desc")" target="_blank"><img src="assets/images/shops_logo/pixmania-logo.png" alt="pixmania" ></a></li>
						<li class="maplin-logo"><a href="http://www.maplin.co.uk" title="@Messages.get("stores.maplin.desc")" target="_blank"><img src="assets/images/shops_logo/maplin-logo.png" alt="maplin" ></a></li>
						<li class="pcworld-logo"><a href="http://www.pcworld.co.uk" title="@Messages.get("stores.pcworld.desc")" target="_blank"><img src="assets/images/shops_logo/pcworld-logo.png" alt="pcworld" ></a></li>
						<li class="toysrus-logo"><a href="http://www.toysrus.co.uk" title="@Messages.get("stores.toysrus.desc")" target="_blank"><img src="assets/images/shops_logo/toysrus-logo.gif" alt="toysrus" ></a></li>
						<li class="smythstoys-logo"><a href="http://www.smythstoys.com title="@Messages.get("stores.smythstoys.desc")" target="_blank"><img src="assets/images/shops_logo/smythstoys-logo.png" alt="smythstoys" ></a></li>
						<li class="thetoyshop-logo"><a href="http://www.thetoyshop.com" title="@Messages.get("stores.thetoyshop.desc")" target="_blank"><img src="assets/images/shops_logo/thetoyshop-logo.png" alt="thetoyshop" ></a></li>
						<li class="otto-logo"><a href="http://www.otto.de" title="@Messages.get("stores.otto.desc")" target="_blank"><img src="assets/images/shops_logo/otto-logo.png"  alt="otto"></a></li>
						<li class="zalando-logo"><a href="http://www.zalando.de" title="@Messages.get("stores.zalando.desc")" target="_blank"><img src="assets/images/shops_logo/zalando-logo.png" alt="zalando" ></a></li>
						<li class="notebooksbilliger-logo"><a href="http://www.notebooksbilliger.de" title="@Messages.get("stores.notebooksbilliger.desc")" target="_blank"><img src="assets/images/shops_logo/notebooksbilliger-logo.png" alt="notebooksbilliger" ></a></li>
						<li class="ladenzeile-logo"><a href="http://www.ladenzeile.de" title="@Messages.get("stores.ladenzeile.desc")" target="_blank"><img src="assets/images/shops_logo/ladenzeile-logo.png" alt="ladenzeile" ></a></li>
						<li class="yatego-logo"><a href="http://www.yatego.com" title="@Messages.get("stores.yatego.desc")" target="_blank"><img src="assets/images/shops_logo/yatego-logo.png" alt="yatego" ></a></li>
					</ul>
				</div>
				<div class="col-md-12 text-center">
					<button class="btn-link btn-link-2 stores-modal" data-toggle="modal" data-target="#storesdialog"><i class="fa fa-check"></i> @Messages.get("btn.more.stores")</button>
				</div>
			</div>
		 </div>
	</section>
  <section id="contact_block" class="section bg-white section_t_line no_padding">
  	<div id="storage_map" class="storage_map">
  	</div>
  </section>
  <section class="section bg-white">
  	<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p class="title">@Messages.get("index.contact.title")</p>
					<p>@Messages.get("index.contact.text")</p>
					@helper.form(routes.Application.sendmoreinfoemail, 'id -> "sendMoreinfo", 'class -> "clearfix form") {
	    		<div class="row">
	        	<div class="col-md-12">
		        	<div class="alert alert-danger errors" style="display:none;" role="alert">...</div>
	        	</div>
	        </div>
					<div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group">
	        			<label for="name">@Messages.get("send.message.name")*</label>
	              <input name="name" id="name" type="text" value="" tabindex="10" placeholder="@Messages.get("send.message.name")" class="mandatory form-control">
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group">
	            	<label for="email">@Messages.get("send.message.email")*</label>
	              <input name="email" id="email" type="text" value=""  tabindex="11" placeholder="@Messages.get("send.message.email")" class="mandatory isemail form-control">
	        		</div>
	        	</div>
	        </div>
					<div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group">
	        			<label for="name">@Messages.get("send.message.message")*</label>
	              <textarea name="message" id="message" tabindex="12"  placeholder="@Messages.get("send.message.message")" class="mandatory form-control"></textarea>
	        		</div>
	        	</div>
	        </div>
			<div class="row">
	        	<div class="col-md-7">
	        		<div class="form-group">
	            	<label for="name">@Messages.get("send.message.captcha")</label>
	              <input name="code" id="code" type="text" value="" tabindex="11" placeholder="@Messages.get("send.message.captcha")" class="mandatory form-control">
	              <input type="hidden" name="randomID" value="@{randomID}" />
	        		</div>
	        	</div>
	        	<div class="col-md-5 captcha-img">
	        		<img src="@routes.Application.captcha(randomID)" />
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group">
	          			<!-- <input type="button" id="send_moreinfo" value="@Messages.get("btn.send")" class="primary_button" tabindex="13"> -->
	          			<a href="#" id="send_moreinfo" class="btn btn-2 pull-left" tabindex="13">@Messages.get("btn.send")</a>
	          		</div>
	          	</div>
	          	

	        </div>
					
					}
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<p class="title">@Messages.get("index.contact.storehouse.title")</p>
							
							<p class="title5">@Messages.get("index.contact.storehouse.address.title")</p>
							<p>@Messages.get("index.contact.storehouse.address")</p>
		
							<p class="title5">@Messages.get("index.contact.storehouse.phone.title")
							<p>@Messages.get("index.contact.storehouse.phone")</p>
		
							<p class="title5">@Messages.get("index.contact.storehouse.email.title")
							<p>@Messages.get("index.footer.email")</p>
						</div>
						<div class="col-md-6 col-sm-6">
							<p class="title">@Messages.get("index.contact.storehouse.timework.title")</p>
							
							<p class="title5">@Messages.get("index.contact.storehouse.timework.mon") - @Messages.get("index.contact.storehouse.timework.fr")</p>
							<p>10:00 - 17:00</p>
		
							<p class="title5">@Messages.get("index.contact.storehouse.timework.sut")</p>
							<p>10:00 - 15:00</p>
							
							<p class="title5">@Messages.get("index.contact.storehouse.timework.sun")</p>
							<p>10:00 - 12:00</p>
						</div>
		  		</div>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<p>( @Messages.get("index.contact.storehouse.desc") )</p>
						</div>
					</div>
				</div>
			</div>
		</div>
  </section>
  <footer class="text-center">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-4 col-sm-4">
	        <p class="title4">Contact us</p>
	        <ul>
	          <li>@Messages.get("index.contact.storehouse.address")</li>
	          <li>@Messages.get("index.contact.storehouse.phone.title"): @Messages.get("index.contact.storehouse.phone")</li>
	          <li>@Messages.get("index.contact.storehouse.email.title"): <a href='mailto:@Messages.get("index.footer.email")' title="Email Us">@Messages.get("index.footer.email")</a></li>
	          <li>@Messages.get("index.contact.storehouse.msn.title"): <a href="skype:my.business?call" title="Msn us">my-business</a></li>
	          <li>@Messages.get("index.contact.storehouse.skype.title"): <a href="skype:my.business?call" title="Skype us">my-business</a></li>
	         </ul>
  			</div>
  			<div class="col-md-4 col-sm-4">
	        <p class="title4">@Messages.get("index.footer.aboutus.title")</p>
	        <p>@Messages.get("index.about.title")</p>
	      </div>
	      <div class="col-md-4 col-sm-4">
	      	<p class="title4">@Messages.get("index.footer.nav.title")</p>
          <ul class="navigate">
	          <li class="current"><a id="home_menu_link" class="nav" href="#">@Messages.get("menu.home")</a></li>
	          <li><a id="calculator_menu_link" class="nav" href="#calculator_block">@Messages.get("menu.calculate")</a></li>
	          <li><a id="conditional_link" href="#">@Messages.get("menu.conditional")</a></li>
	          <li><a id="contact_menu_link" class="nav" href="#contact_block">@Messages.get("menu.contact")</a></li>
	          <li><a id="howworks_menu_link" class="nav" href="#howworks_block">@Messages.get("menu.work")</a></li>
          </ul>
	      </div>
  		</div>
  		<div class="row banks-logo-container">
  			<div class="col-md-12">
  				<img src="assets/images/banks_logo/swedbank.png" alt="Swedbank">
  				<img src="assets/images/banks_logo/paypal.png" alt="Paypal">
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-12">
	        <p class="title4">&copy; @Messages.get("index.footer.copyright.title")</p>
	        <p>@Messages.get("index.footer.copyright.text")</p>
  			</div>
  		</div>
  	</div>
  </footer>
	
	<div id="registrationdialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    @helper.form(routes.SecurityController.registration, 'id -> "registrationForm") {
	    	<div class="modal-header">
	    		<p class="title header"></p>
	    	</div>
	    	<div class="modal-body">
	    		<div class="row">
	        	<div class="col-md-12">
		        	<div class="alert alert-danger errors" style="display:none;" role="alert">...</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group username">
							 	<label for="username">@Messages.get("registration.username")*</label>
                <input type="text" name="username"  tabindex="17" placeholder="@Messages.get("registration.username")" class="mandatory form-control">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group email">
							 	<label for="email">@Messages.get("registration.email")*</label>
                <input type="email" name="email"  tabindex="18" placeholder="@Messages.get("registration.email")" class="mandatory isemail form-control">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group firstname">
								<label for="firstname">@Messages.get("registration.firstname")*</label>
	              <input type="text" name="firstname" tabindex="19" placeholder="@Messages.get("registration.firstname")" class="mandatory form-control">
              </div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group lastname">
		        		<label for="lastname">@Messages.get("registration.lastname")*</label>
	              <input type="text" name="lastname" tabindex="20" placeholder="@Messages.get("registration.lastname")" class="mandatory form-control" >
              </div>
	        	</div>
					</div>	        
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group">
	        			<label for="birthdate">@Messages.get("registration.birthdate")</label>
	              		<input type="text" name="birthdate"  tabindex="21" data-date-format="dd.mm.yy" placeholder="@Messages.get("registration.birthdate")" class="birthdate isdate form-control">

              		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group passportnr">
								<label for="passportnr">@Messages.get("registration.passportnr")*</label>
                <input type="text" name="passportnr"  tabindex="22" placeholder="@Messages.get("registration.passportnr")" class="mandatory form-control">
              </div> 
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group password">
								<label for="password">@Messages.get("registration.password")*</label>
	              <input type="password" name="password"  tabindex="23" placeholder="@Messages.get("registration.password")" class="mandatory form-control">
              </div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group password2">
								<label for="password2">@Messages.get("registration.password2")*</label>
	              <input type="password" name="password2" tabindex="24" placeholder="@Messages.get("registration.password2")" class="mandatory form-control">
              </div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group">
	          		<a href="#" id="openconditional">@Messages.get("registration.conditional")</a> <input type="checkbox" id="condition_accept" name="condition_accept" tabindex="25" class="mandatory">
          		</div>
	        	</div>
	        </div>
	        
	        
      	</div>
      	<div class="modal-footer">
      		<button type="button" id="regBtn" class="btn btn-2" tabindex="26">@Messages.get("btn.registration")</button>
      	</div>
      }
	    </div>
	  </div>
	</div>

	<div id="possiblerequestdialog" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    	<div class="modal-header">
	    		<p class="title header"></p>
	    	</div>
	    	<div class="modal-body">
					<table id="userrequestitem" class="table user_requests_list">
			   		<thead>
		  	 			<tr class="noborders">
				        <th>@Messages.get("request.name")</th>
	         			<th>@Messages.get("request.article")</th>
			         	<th class="count">@Messages.get("request.count")</th>
				        <th>@Messages.get("request.price")</th>
			         	<th>@Messages.get("request.summa")</th>
			         	<th></th>
			        </tr>
		      	</thead>
		      	<tbody id="requestitems">
		        	<tr id="totalpricesitem">
		        		<td colspan="3"><!--  --></td>
		        		<td class="modal-title"><span>@Messages.get("request.summa")</span></td>
		        		<td id="totalprices_out"></td>
		        		<td><!--  --></td>
		        	</tr>
		        	
		        	<tr id="deliveryitem" class="noborders">
		        		<td colspan="2"><!--  --></td>
		        		<td class="modal-title"><span>@Messages.get("request.delivery")</span></td>
		        		<td class="edit"><input id="deliveryprice_in" type="number" min="0.00" tabindex="27" placeholder="0.00" value="" class="isprice form-control"/></td>
		        		<td id="deliveryprice_out"></td>
		        		<td><!--  --></td>
		        	</tr>
		        	<tr id="commissionitem" class="noborders">
		        		<td colspan="3"><!--  --></td>
		        		<td class="modal-title"><span>@Messages.get("request.commission")</span></td>
		        		<td id="commissionprice_out"></td>
		        		<td><!--  --></td>
		        	</tr>
		        	<tr class="totalpriceitem" class="noborders">
		        		<td colspan="3"><!--  --></td>
		        		<td class="modal-title"><span>@Messages.get("request.totalsumma")</span></td>
		        		<td id="totalprice_out"></td>
		        		<td><!--  --></td>
		        	</tr>
			      </tbody>
					</table>
	      </div>
	    	
      	<div class="modal-footer">
      		<p class="main-text">@Messages.get("regaftercal.text")</p>
      	 	<input type="button" value="@Messages.get("btn.registration")" tabindex="28" class="btn btn-2 primary_button registration-modal"/>
      	</div>
	    </div>
	  </div>
	</div>
	
	<div id="storesdialog" class="modal modal-wide fade" tabindex="-1" role="dialog" aria-labelledby="storesModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    	<div class="modal-header">
	    		<p class="title header">@Messages.get("stores.dialog.title")</p>
	    	</div>
	    	<div class="modal-body">
	    	
		    	<ul class="nav nav-pills">
		    		<li role="presentation" class="active"><a href="#est-stores" aria-controls="est-stores" role="tab" data-toggle="tab">@Messages.get("stores.dialog.tab.eststores")</a></li>
				  	<li role="presentation"><a href="#other-stores" aria-controls="other-stores" role="tab" data-toggle="tab">@Messages.get("stores.dialog.tab.otherstores")</a></li>
				</ul>
				
				<div class="tab-content">
    				<div role="tabpanel" class="tab-pane fade in active" id="est-stores">
			    		<div class="row">
				    		<div class="info-block red p-0">
				    			<p class="title">@Messages.get("stores.dialog.market")</p>
								<ul class="info-block-items p-15">
									<li class="logo shoppa-logo"><a href="http://www.shoppa.ee" title="@Messages.get("stores.shoppa.desc")" target="_blank"><img src="assets/images/shops_logo/ee/shoppa.png" alt="@Messages.get("stores.shoppa.alt")" ></a></li>
									<li class="logo eostukeskus-logo"><a href="http://e-ostukeskus.ee" title="@Messages.get("stores.eostukeskus.desc")" target="_blank"><img src="assets/images/shops_logo/ee/eostukeskus.png" alt="@Messages.get("stores.eostukeskus.alt")" ></a></li>
									<li class="logo frog-logo"><a href="https://www.frog.ee" title="@Messages.get("stores.frog.desc")" target="_blank"><img src="assets/images/shops_logo/ee/frog.png" alt="@Messages.get("stores.frog.alt")" ></a></li>
									<li class="logo kaup24-logo"><a href="http://kaup24.ee" title="@Messages.get("stores.kaup24.desc")" target="_blank"><img src="assets/images/shops_logo/ee/kaup24.png" alt="@Messages.get("stores.kaup24.alt")" ></a></li>
									<li class="logo epood24-logo"><a href="http://www.epood24.eu" title="@Messages.get("stores.epood24.desc")" target="_blank"><img src="assets/images/shops_logo/ee/epood24.jpg" alt="@Messages.get("stores.epood24.alt")" ></a></li>
									<li class="logo hansapost-logo"><a href="http://www.hansapost.ee" title="@Messages.get("stores.hansapost.desc")" target="_blank"><img src="assets/images/shops_logo/ee/hansapost.png" alt="@Messages.get("stores.hansapost.alt")" ></a></li>
								</ul>
							</div>
						</div>
			    		<div class="row">
				    		<div class="info-block lblue p-0">
				    			<p class="title">@Messages.get("stores.dialog.computers")</p>
								<ul class="info-block-items p-15">
									<li class="logo laptopid-logo">
										<a href="http://www.laptopid.ee/" title="@Messages.get("stores.laptopid.desc")" target="_blank">
											<img src="assets/images/shops_logo/ee/laptopid.png" alt="@Messages.get("stores.laptopid.alt")" >
										</a>
									</li>
									<li class="logo array-logo">
										<a href="http://www.array.ee/" title="@Messages.get("stores.array.desc")" target="_blank">
											<img src="assets/images/shops_logo/ee/array_arvutid.png" alt="@Messages.get("stores.array.alt")" >
										</a>
									</li>
									<li class="logo atf-logo">
										<a href="http://www.atf.ee/" title="@Messages.get("stores.atf.desc")" target="_blank">
											<img src="assets/images/shops_logo/ee/atf.png" alt="@Messages.get("stores.atf.alt")" >
										</a>
									</li>
									<li class="logo faun-logo">
										<a href="http://www.faun.ee/" title="@Messages.get("stores.faun.desc")" target="_blank">
											<img src="assets/images/shops_logo/ee/faun.png" alt="@Messages.get("stores.faun.alt")" >
										</a>
									</li>
									<li class="logo 1a-logo">
										<a href="http://www.1a.ee/" title="@Messages.get("stores.1a.desc")" target="_blank">
											<img src="assets/images/shops_logo/ee/1a.png" alt="@Messages.get("stores.1a.alt")" >
										</a>
									</li>
									<li class="logo arvotek-logo">
										<a href="http://arvotek.ee" title="@Messages.get("stores.arvotek.desc")" target="_blank">
											<img src="assets/images/shops_logo/ee/arvotek.gif" alt="@Messages.get("stores.arvotek.alt")" >
										</a>
									</li>
									<li class="logo techvision-logo">
										<a href="http://techvision.ee" title="@Messages.get("stores.techvision.desc")" target="_blank">
											<img src="assets/images/shops_logo/ee/techvision.png" alt="@Messages.get("stores.techvision.alt")" >
										</a>
									</li>
									<li class="logo tehnikanurk-logo">
										<a href="http://tehnikanurk.eu" title="@Messages.get("stores.tehnikanurk.desc")" target="_blank">
											<img src="assets/images/shops_logo/ee/tehnikanurk.jpg" alt="@Messages.get("stores.tehnikanurk.alt")" >
										</a>
									</li>
									<li class="logo pult24-logo">
										<a href="http://www.pult24.ee/" title="@Messages.get("stores.pult24.desc")" target="_blank">
											<img src="assets/images/shops_logo/ee/pult24.png" alt="@Messages.get("stores.pult24.alt")" >
										</a>
									</li>
								</ul>
							</div>
						</div>
			    		<div class="row">
				    		<div class="info-block orange p-0">
				    			<p class="title">@Messages.get("stores.dialog.electronics")</p>
								<ul class="info-block-items p-15">
									<li class="logo euronics-logo">
										<a href="http://www.euronics.ee/" title="@Messages.get("stores.euronics.desc")" target="_blank">
											<img src="assets/images/shops_logo/ee/euronics.png" alt="@Messages.get("stores.euronics.alt")" >
										</a>
									</li>
									<li class="logo heahind-logo">
										<a href="http://heahind.ee/" title="@Messages.get("stores.heahind.desc")" target="_blank">
											<img src="assets/images/shops_logo/ee/heahind.png" alt="@Messages.get("stores.heahind.alt")" >
										</a>
									</li>
									<li class="logo viva-logo">
										<a href="http://www.viva.ee/" title="@Messages.get("stores.viva.desc")" target="_blank">
											<img src="assets/images/shops_logo/ee/viva.png" alt="@Messages.get("stores.viva.alt")" >
										</a>
									</li>
									<li class="logo onoff-logo">
										<a href="http://www.onoff.ee/" title="@Messages.get("stores.onoff.desc")" target="_blank">
											<img src="assets/images/shops_logo/ee/onoff.gif" alt="@Messages.get("stores.onoff.alt")" >
										</a>
									</li>
								</ul>
							</div>
						</div>
			    		<div class="row">
				    		<div class="info-block purple p-0">
				    			<p class="title">@Messages.get("stores.dialog.toys")</p>
								<ul class="info-block-items p-15">
									<li class="logo toybox-logo"><a href="http://www.toybox.ee/" title="@Messages.get("stores.toybox.desc")" target="_blank"><img src="assets/images/shops_logo/ee/toybox.png" alt="@Messages.get("stores.toybox.alt")" ></a></li>
									<li class="logo jukukeskus-logo"><a href="http://www.jukukeskus.ee/" title="@Messages.get("stores.jukukeskus.desc")" target="_blank"><img src="assets/images/shops_logo/ee/juku.png" alt="@Messages.get("stores.jukukeskus.alt")" ></a></li>
									<li class="logo karupoegpuhh-logo"><a href="http://www.karupoegpuhh.ee/" title="@Messages.get("stores.karupoegpuhh.desc")" target="_blank"><img src="assets/images/shops_logo/ee/karupoegpuhh.png" alt="@Messages.get("stores.karupoegpuhh.alt")" ></a></li>
									<li class="logo toys-logo"><a href="http://www.toys.ee/" title="@Messages.get("stores.toys.desc")" target="_blank"><img src="assets/images/shops_logo/ee/toys.png" alt="@Messages.get("stores.toys.alt")" ></a></li>
									<li class="logo tiptiptap-logo"><a href="http://www.tiptiptap.ee/" title="@Messages.get("stores.tiptiptap.desc")" target="_blank"><img src="assets/images/shops_logo/ee/tiptiptap.png" alt="@Messages.get("stores.tiptiptap.alt")" ></a></li>
									<li class="logo beebimaailm-logo"><a href="http://www.beebimaailm.ee/" title="@Messages.get("stores.beebimaailm.desc")" target="_blank"><img src="assets/images/shops_logo/ee/beebimaailm.png" alt="@Messages.get("stores.beebimaailm.alt")" ></a></li>
								</ul>
							</div>
						</div>
			    		<div class="row">
				    		<div class="info-block green p-0">
				    			<p class="title">@Messages.get("stores.dialog.furniture")</p>
								<ul class="info-block-items p-15">
									<li class="logo aatrium-logo"><a href="http://www.aatrium.ee/" title="@Messages.get("stores.aatrium.desc")" target="_blank"><img src="assets/images/shops_logo/ee/aatrium.jpg" alt="@Messages.get("stores.aatrium.alt")" ></a></li>
									<li class="logo paradiis-logo"><a href="http://www.paradiis.ee/" title="@Messages.get("stores.paradiis.desc")" target="_blank"><img src="assets/images/shops_logo/ee/diivaniparadiis.jpg" alt="@Messages.get("stores.paradiis.alt")" ></a></li>
									<li class="logo on24-logo"><a href="http://www.on24.ee/" title="@Messages.get("stores.on24.desc")" target="_blank"><img src="assets/images/shops_logo/ee/on24.png" alt="@Messages.get("stores.on24.alt")" ></a></li>
									<li class="logo emoobel24-logo"><a href="http://www.e-moobel24.ee/" title="@Messages.get("stores.emoobel24.desc")" target="_blank"><img src="assets/images/shops_logo/ee/emoobel24.png" alt="@Messages.get("stores.emoobel24.alt")" ></a></li>
								</ul>
							</div>
						</div>
			    		<div class="row">
				    		<div class="info-block blue p-0">
				    			<p class="title">@Messages.get("stores.dialog.tickets")</p>
								<ul class="info-block-items p-15">
									<li class="logo piletilevi-logo"><a href="http://www.piletilevi.ee/" title="@Messages.get("stores.piletilevi.desc")" target="_blank"><img src="assets/images/shops_logo/ee/piletilevi.png" alt="@Messages.get("stores.piletilevi.alt")" ></a></li>
								</ul>
							</div>
						</div>
    				</div>
    				<div role="tabpanel" class="tab-pane" id="other-stores">
			    		<div class="row">
				    		<div class="info-block red p-0">
				    			<p class="title">@Messages.get("stores.dialog.fashion")</p>
									<ul class="info-block-items p-15">
										<li class="logo artigiano-logo"><a href="http://www.artigiano.co.uk" title="@Messages.get("stores.artigiano.desc")" target="_blank"><img src="assets/images/shops_logo/artigiano-logo.jpg" alt="artigiano"></a></li>
										<li class="logo asos-logo"><a href="http://www.asos.com" title="@Messages.get("stores.asos.desc")" target="_blank"><img src="assets/images/shops_logo/asos-logo.jpeg" alt="asos"></a></li>
										<li class="logo east-logo"><a href="http://www.east.co.uk" title="@Messages.get("stores.east.desc")" target="_blank"><img src="assets/images/shops_logo/east-logo.png" alt="east"></a></li>
										<li class="logo matches-logo"><a href="http://www.matchesfashion.com/" title="@Messages.get("stores.matches.desc")" target="_blank"><img src="assets/images/shops_logo/matches-logo.jpg" alt="matchesfashion"></a></li>
										<li class="logo houseoffraser-logo"><a href="http://www.houseoffraser.co.uk" title="@Messages.get("stores.houseoffraser.desc")" target="_blank"><img src="assets/images/shops_logo/houseoffraser-logo.jpeg" alt="houseoffraser"></a></li>
										<li class="logo guess-logo"><a href="http://www.guess.eu" title="@Messages.get("stores.guess.desc")" target="_blank"><img src="assets/images/shops_logo/guess-logo.jpeg" alt="guess" ></a></li>
										<li class="logo littlemistress-logo"><a href="http://www.little-mistress.co.uk" title="@Messages.get("stores.littlemistress.desc")" target="_blank"><img src="assets/images/shops_logo/little-mistress-logo.png" alt="little-mistress" ></a></li>
										<li class="logo boden-logo"><a href="http://www.boden.co.uk" title="@Messages.get("stores.boden.desc")" target="_blank"><img src="assets/images/shops_logo/boden-logo.jpeg" alt="boden" ></a></li>
										<li class="logo boozt-logo"><a href="http://www.boozt.com" title="@Messages.get("stores.boozt.desc")" target="_blank"><img src="assets/images/shops_logo/boozt-logo.gif" alt="boozt" ></a></li>
										<li class="logo banana-logo"><a href="http://www.bananarepublic.co.uk" title="@Messages.get("stores.banana.desc")" target="_blank"><img src="assets/images/shops_logo/banana-logo.jpeg" alt="bananarepublic" ></a></li>
										<li class="logo blueinc-logo"><a href="http://www.blueinc.co.uk" title="@Messages.get("stores.blueinc.desc")" target="_blank"><img src="assets/images/shops_logo/blueinc-logo.jpeg" alt="blueinc" ></a></li>
										<li class="logo boohoo-logo"><a href="http://www.boohoo.com" title="@Messages.get("stores.boohoo.desc")" target="_blank"><img src="assets/images/shops_logo/boohoo-logo.jpeg" alt="boohoo" ></a></li>
										<li class="logo evans-logo"><a href="http://euro.evansfashion.com" title="@Messages.get("stores.evans.desc")" target="_blank"><img src="assets/images/shops_logo/evans-logo.gif" alt="euro evansfashion" ></a></li>
										<li class="logo figleaves-logo"><a href="http://www.figleaves.com" title="@Messages.get("stores.figleaves.desc")" target="_blank"><img src="assets/images/shops_logo/figleaves-logo.png" alt="figleaves" ></a></li>
									</ul>
				    		</div>
			    		</div>
			    		<div class="row">
				    		<div class="info-block blue p-0">
				    			<p class="title">@Messages.get("stores.dialog.market")</p>
									<ul class="info-block-items p-15">
				            <!-- Univermag -->
										<li class="logo play-logo"><a href="http://www.play.com" title="@Messages.get("stores.play.desc")" target="_blank"><img src="assets/images/shops_logo/play-logo.gif" alt="play" ></a></li>
										<li class="logo next-logo"><a href="http://www.next.co.uk" title="@Messages.get("stores.next.desc")" target="_blank"><img src="assets/images/shops_logo/next-logo.jpeg" alt="next" ></a></li>
										<li class="logo woolworths-logo"><a href="http://www.woolworths.co.uk" title="@Messages.get("stores.woolworths.desc")" target="_blank"><img src="assets/images/shops_logo/woolworths-logo.gif" alt="woolworths" ></a></li>
									</ul>
				    		</div>
			    		</div>
			    		<div class="row">
				    		<div class="info-block green p-0">
				    			<p class="title">@Messages.get("stores.dialog.furniture")</p>
									<ul class="info-block-items p-15">
										<!-- Mabel -->
										<li class="logo worldstore-logo"><a href="http://www.worldstores.co.uk" title="@Messages.get("stores.worldstore.desc")" target="_blank"><img src="assets/images/shops_logo/worldstore-logo.png" alt="worldstores" ></a></li>
										<li class="logo village-logo"><a href="http://www.furniturevillage.co.uk/" title="@Messages.get("stores.village.desc")" target="_blank"><img src="assets/images/shops_logo/village-logo.png" alt="furniturevillage" ></a></li>
										<li class="logo habitat-logo"><a href="http://www.habitat.co.uk" title="@Messages.get("stores.habitat.desc")" target="_blank"><img src="assets/images/shops_logo/habitat-logo.gif" alt="habitat-" ></a></li>
										<li class="logo therange-logo"><a href="http://www.therange.co.uk" title="@Messages.get("stores.therange.desc")" target="_blank"><img src="assets/images/shops_logo/therange-logo.png" alt="the range" ></a></li>
										<li class="logo ikea-logo"><a href="http://www.ikea.com" title="@Messages.get("stores.ikea.desc")" target="_blank"><img src="assets/images/shops_logo/ikea-logo.jpeg" alt="ikea" ></a></li>
									</ul>
				    		</div>
			    		</div>
			    		<div class="row">
				    		<div class="info-block orange p-0">
				    			<p class="title">@Messages.get("stores.dialog.electronics")</p>
									<ul class="info-block-items p-15">
										<!-- Elektronika -->
										<li class="logo pixmania-logo"><a href="http://www.pixmania.co.uk" title="@Messages.get("stores.pixmania.desc")" target="_blank"><img src="assets/images/shops_logo/pixmania-logo.png" alt="pixmania" ></a></li>
										<li class="logo maplin-logo"><a href="http://www.maplin.co.uk" title="@Messages.get("stores.maplin.desc")" target="_blank"><img src="assets/images/shops_logo/maplin-logo.png" alt="maplin" ></a></li>
										<li class="logo ao-logo"><a href="http://www.ao.com" title="@Messages.get("stores.ao.desc")" target="_blank"><img src="assets/images/shops_logo/ao-logo.jpeg" alt="ao"></a></li>
										<li class="logo tiptopelectronics-logo"><a href="http://www.tiptopelectronics.co.uk" title="@Messages.get("stores.tiptopelectronics.desc")" target="_blank"><img src="assets/images/shops_logo/tiptopelectronics-logo.png" alt="tiptopelectronics"  ></a></li>
										<li class="logo appliancesdirect-logo"><a href="http://www.appliancesdirect.co.uk" title="@Messages.get("stores.appliancesdirect.desc")" target="_blank"><img src="assets/images/shops_logo/appliancesdirect-logo.gif" alt="appliancesdirect" ></a></li>
									</ul>
				    		</div>
			    		</div>
			    		<div class="row">
				    		<div class="info-block lblue p-0">
				    			<p class="title">@Messages.get("stores.dialog.computers")</p>
									<ul class="info-block-items p-15">
										<!-- Kompjutery -->
										<li class="logo overclockers-logo"><a href="http://www.overclockers.co.uk" title="@Messages.get("stores.overclockers.desc")" target="_blank"><img src="assets/images/shops_logo/overclockers-logo.gif" alt="overclockers" ></a></li>
										<li class="logo pcworld-logo"><a href="http://www.pcworld.co.uk" title="@Messages.get("stores.pcworld.desc")" target="_blank"><img src="assets/images/shops_logo/pcworld-logo.png" alt="pcworld" ></a></li>
										<li class="logo novatech-logo"><a href="http://www.novatech.co.uk" title="@Messages.get("stores.novatech.desc")" target="_blank"><img src="assets/images/shops_logo/novatech-logo.png" alt="novatech" ></a></li>
										<li class="logo scan-logo"><a href="http://www.scan.co.uk" title="@Messages.get("stores.scan.desc")" target="_blank"><img src="assets/images/shops_logo/scan-logo.gif" alt="scan" ></a></li>
										<li class="logo ebuyer-logo"><a href="http://www.ebuyer.com" title="@Messages.get("stores.ebuyer.desc")" target="_blank"><img src="assets/images/shops_logo/ebuyer-logo.png" alt="ebuyer" ></a></li>
									</ul>
				    		</div>
			    		</div>
			    		<div class="row">
				    		<div class="info-block purple p-0">
				    			<p class="title">@Messages.get("stores.dialog.toys")</p>
									<ul class="info-block-items p-15">
										<!-- Igrushki -->
										<li class="logo toysrus-logo"><a href="http://www.toysrus.co.uk" title="@Messages.get("stores.toysrus.desc")" target="_blank"><img src="assets/images/shops_logo/toysrus-logo.gif" alt="toysrus" ></a></li>
										<li class="logo smythstoys-logo"><a href="http://www.smythstoys.com title="@Messages.get("stores.smythstoys.desc")" target="_blank"><img src="assets/images/shops_logo/smythstoys-logo.png" alt="smythstoys" ></a></li>
										<li class="logo thetoyshop-logo"><a href="http://www.thetoyshop.com" title="@Messages.get("stores.thetoyshop.desc")" target="_blank"><img src="assets/images/shops_logo/thetoyshop-logo.png" alt="thetoyshop" ></a></li>
										<li class="logo hamleys-logo"><a href="http://www.hamleys.com" title="@Messages.get("stores.hamleys.desc")" target="_blank"><img src="assets/images/shops_logo/hamleys-logo.gif" alt="hamleys" ></a></li>
										<li class="logo toyshopuk-logo"><a href="http://www.toyshopuk.co.uk" title="@Messages.get("stores.toyshopuk.desc")" target="_blank"><img src="assets/images/shops_logo/toyshopuk-logo.png" alt="toyshopuk" ></a></li>
									</ul>
				    		</div>
			    		</div>
			    		<div class="row">
				    		<div class="info-block lgreen p-0">
				    			<p class="title">@Messages.get("stores.dialog.germany")</p>
									<ul class="info-block-items p-15">
										<!-- Germanija -->
										<li class="logo otto-logo"><a href="http://www.otto.de" title="@Messages.get("stores.otto.desc")" target="_blank"><img src="assets/images/shops_logo/otto-logo.png" alt="otto" ></a></li>
										<li class="logo zalando-logo"><a href="http://www.zalando.de" title="@Messages.get("stores.zalando.desc")" target="_blank"><img src="assets/images/shops_logo/zalando-logo.png" alt="zalando" ></a></li>
										<li class="logo dawanda-logo"><a href="http://de.dawanda.com" title="@Messages.get("stores.dawanda.desc")" target="_blank"><img src="assets/images/shops_logo/dawanda-logo.png" alt="dawanda" ></a></li>
										<li class="logo lidl-logo"><a href="http://www.lidl.de" title="@Messages.get("stores.lidl.desc")" target="_blank"><img src="assets/images/shops_logo/lidl-logo.png" alt="lidl" ></a></li>
										<li class="logo tchibo-logo"><a href="http://www.tchibo.de" title="@Messages.get("stores.tchibo.desc")" target="_blank"><img src="assets/images/shops_logo/tchibo-logo.png" alt="tchibo" ></a></li>
										<li class="logo saturn-logo"><a href="http://www.saturn.de" title="@Messages.get("stores.saturn.desc")" target="_blank"><img src="assets/images/shops_logo/saturn-logo.png" alt="saturn" ></a></li>
										<li class="logo rakuten-logo"><a href="http://www.rakuten.de" title="@Messages.get("stores.rakuten.desc")" target="_blank"><img src="assets/images/shops_logo/rakuten-logo.png" alt="rakuten" ></a></li>
										<li class="logo notebooksbilliger-logo"><a href="http://www.notebooksbilliger.de" title="@Messages.get("stores.notebooksbilliger.desc")" target="_blank"><img src="assets/images/shops_logo/notebooksbilliger-logo.png" alt="notebooksbilliger"  ></a></li>
										<li class="logo ciao-logo"><a href="http://www.ciao.de" title="@Messages.get("stores.ciao.desc")" target="_blank"><img src="assets/images/shops_logo/ciao-logo.png" alt="ciao" ></a></li>
										<li class="logo billiger-logo"><a href="http://www.billiger.de" title="@Messages.get("stores.billiger.desc")" target="_blank"><img src="assets/images/shops_logo/billiger-logo.png" alt="billiger" ></a></li>
										<li class="logo esprit-logo"><a href="http://www.esprit.eu" title="@Messages.get("stores.esprit.desc")" target="_blank"><img src="assets/images/shops_logo/esprit-logo.png" alt="esprit" ></a></li>
										<li class="logo bonprix-logo"><a href="http://www.bonprix.de" title="@Messages.get("stores.bonprix.desc")" target="_blank"><img src="assets/images/shops_logo/bonprix-logo.gif" alt="bonprix" ></a></li>
										<li class="logo ladenzeile-logo"><a href="http://www.ladenzeile.de" title="@Messages.get("stores.ladenzeile.desc")" target="_blank"><img src="assets/images/shops_logo/ladenzeile-logo.png" alt="ladenzeile" ></a></li>
										<li class="logo yatego-logo"><a href="http://www.yatego.com" title="@Messages.get("stores.yatego.desc")" target="_blank"><img src="assets/images/shops_logo/yatego-logo.png" alt="yatego" ></a></li>
									</ul>
				    		</div>
			    		</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	  </div>
	</div>  
	   
	
	
	<div id="errorsdialog" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    	<div class="modal-header">
	    		<p class="title header">@Messages.get("errors.dialog.title")</p>
	    	</div>
	    	<div class="modal-body">
		    </div>
		    <div class="modal-footer">
		    @Messages.get("errors.dialog.footer")
		    </div>
	    </div>
	  </div>
	</div>

}
