@(user: User, userRequests: List[UserRequests], historyUserRequests: List[UserRequests], requestform: Form[forms.RequestForm], messageform: Form[forms.MessageForm])
@import play.i18n._
@import helper._
@import java.text.SimpleDateFormat
@import java.util.Locale


@userindex(user){

<div id="page-container" class="fade in">



<div class="navbar navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a id="logo" class="navbar-brand" href="#">Trust <i class="fa fa-cube"></i> Market</a> -->
        <a id="logo" class="navbar-brand" href="#">Trust <i class="fa fa-shopping-cart"></i> Market</a>
      </div>
      <div class="navbar-collapse collapse">
      	<ul class="nav navbar-nav navbar-right">
          <li><a id="conditional_link" href="#">@Messages.get("menu.conditional")</a></li>
          <li class="dropdown animate-click" data-animate="animated fadeInUp" style="z-index:500;">
	         	<a href="#" class="dropdown-toggle dropdown-form-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
	         	
            <ul class="dropdown-menu dropdown-menu-user animate-wr animated fadeInUp">
		  	        <li><a id="edituser_link" href="#">@user.getFirstName @user.getLastName</a></li>
		    	      <li><a href="@routes.SecurityController.logout()">@Messages.get("menu.logout")</a></li>
            </ul>
	     		</li>
	     	  <li class="aux-languages dropdown animate-click" data-animate="animated fadeInUp" style="z-index:500;">
	     			<a href="#" class="dropdown-toggle dropdown-form-toggle" data-toggle="dropdown"><span class="language name">@Messages.get("lang." + lang.language)</span></a>
	     			<ul id="auxLanguages" class="dropdown-menu dropdown-menu-user animate-wr animated fadeInUp">
	     				@if(lang.language == "ru"){
	               <li><span class="language language-active">@Messages.get("lang.ru")</span></li>
	     				}else{
	               <li><a href="@routes.UserController.usrchangelang("ru")""><span class="language">@Messages.get("lang.ru")</span></a></li>
	     				}

	     				@if(lang.language == "et"){
	               <li><span class="language language-active">@Messages.get("lang.et")</span></li>
	     				}else{
	               <li><a href="@routes.UserController.usrchangelang("et")"><span class="language">@Messages.get("lang.et")</span></a></li>
							}	     			 		
	          </ul>
          </li>
   	    </ul>
      </div>
		</div>
	</div>

	
	<div id="sidebar" class="sidebar">
		<ul class="nav" role="tablist">
			<li class="active">
				<a href="#dashboard" role="tab" data-toggle="tab">
					<i class="fa fa-desktop"></i>
					<span>@Messages.get("dashboard.title")</span>
				</a>
			</li>
			<li>
				<a href="#req-history" role="tab" data-toggle="tab">
					<i class="fa fa-list-alt"></i>
					<span>@Messages.get("historyrequest.title")</span>
				</a>
			</li>
		</ul>
	</div>

	<div id="content" class="content tab-content">
	
		<div class="tab-pane active" id="dashboard">
		<h1 class="page-header">@Messages.get("dashboard.title")</h1>
		<div class="row">
			<div class="col-md-12">
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading req-type-full">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          @Messages.get("collapse.typefull")
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
      	@helper.form(routes.UserController.createrequest, 'id -> "fullNewRequestForm", 'class -> "clearfix") {
	        <div class="row">
	        	<div class="col-md-12">
		        	<div class="alert alert-danger errors" style="display:none;" role="alert">...</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<p class="req-type-full-desc req-type-desc p-15">@Messages.get("collapse.typefull.desc")</p>
	        </div>
	        
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group link">
							  	<label for="storelink">@Messages.get("form.link")*</label>
									<input  type="text" name="storelink" class="form-control" name="storelink" value="" placeholder="http://www.ebay.com/itm/..." tabindex="1" class="mandatory">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group name">
						  	<label for="name">@Messages.get("form.name")*</label>
								<input  type="text" name="name"  id="name"  class="form-control" value="" placeholder="@Messages.get("form.name")" tabindex="2" class="mandatory">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group size">
						  	<label for="size">@Messages.get("form.size")</label>
								<input id="size" name="size" type="text" class="form-control" value="" tabindex="3"  placeholder="XL">
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group article">
						  	<label for="article">@Messages.get("form.article")</label>
								<input id="article" name="article" type="text" value="" class="form-control" tabindex="4"  placeholder="@Messages.get("form.article")">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group price">
						  	<label for="price">@Messages.get("form.price")*</label>
								<input name="price" type="text" tabindex="5" class="form-control"  placeholder="99.00" class="mandatory isprice">
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group color">
						  	<label for="color">@Messages.get("form.color")</label>
								<input name="color" type="text" tabindex="6" class="form-control"  placeholder="@Messages.get("form.color")">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group price">
						  	<label for="count">@Messages.get("form.count")*</label>
								<input name="count" type="text" tabindex="7" class="form-control" placeholder="@Messages.get("form.count")" class="mandatory isnumber">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group color">
						  	<label for="description">@Messages.get("form.description")</label>
					      <textarea name="description" tabindex="8"  class="form-control" placeholder="@Messages.get("form.description")" style="min-height:90px;"></textarea>
	        		</div>
	        	</div>
	        </div>
	        
	        <div class="row">
	        	<div class="col-md-12">
							<input name="type" id="type" type="hidden" value="1">
							<input name="userRequestId" id="userRequestId" type="hidden" value="0">
							<input name="requestId" id="requestId" type="hidden" value="0">
	        		<!-- <input type="button" id="calculate" class="primary_button" value="@Messages.get("btn.calculate")" tabindex="8"> -->
	        		<a href="#" id="calculate" class="btn btn-2 pull-left" tabindex="9">@Messages.get("btn.calculate")</a>
	        		
	        	</div>
	        </div>      	
      	}
      
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading req-type-delivery">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          @Messages.get("collapse.typedelivery")
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      	@helper.form(routes.UserController.createrequest, 'id -> "deliveryNewRequestForm", 'class -> "clearfix",  'enctype -> "multipart/form-data") {
     		<div class="row">
        	<div class="col-md-12">
	        	<div class="alert alert-danger errors" style="display:none;" role="alert">...</div>
        	</div>
        </div>
        <div class="row">
        	<p class="req-type-delivery-desc req-type-desc p-15">@Messages.get("collapse.typedelivery.desc")</p>
        </div>

        <div class="row">
        	<div class="col-md-6">
        		<div class="form-group">
					  	<label for="packagecode">@Messages.get("form.packagecode")*</label>
							<input name="packagecode" id="packagecode" type="text"  tabindex="8" placeholder="@Messages.get("form.packagecode")" class="mandatory form-control">
        		</div>
        	</div>
        	<div class="col-md-6">
        		<div class="form-group">
					  	<label for="price">@Messages.get("form.price")*</label>
							<input  name="price" type="text" tabindex="3"  placeholder="99.00" placeholder="@Messages.get("form.price")" class="mandatory isnumber form-control">
        		</div>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-6">
        		<label for="document">@Messages.get("request.file")</label>
			  		<input type="file" name="document" class="mandatory form-control">
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-12">
        		<div class="form-group color">
					  	<label for="description">@Messages.get("form.description")</label>
				      <textarea name="description" tabindex="8"  class="form-control" placeholder="@Messages.get("form.description")" style="min-height:90px;"></textarea>
        		</div>
        	</div>
        </div>
 				<div class="row">
 					<div class="col-md-12">
						<input name="type" id="type" type="hidden" value="2">
						<input name="userRequestId" id="userRequestId" type="hidden" value="0">
						<input name="requestId" id="requestId" type="hidden" value="0">
						<!-- <input type="button" id="calculate" class="primary_button" value="@Messages.get("btn.calculate")" tabindex="8"> -->
						<a href="#" id="calculate" class="btn btn-2 pull-left" tabindex="9">@Messages.get("btn.calculate")</a>
 					</div>
 				</div>        
      	}
      </div>
    </div>
  </div>
</div>


			
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				@if(userRequests.size == 0) {
				<div class="alert alert-info" role="alert">@Messages.get("nonewrequest.title")</div>
				}else{
				
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<h4 class="panel-title">@Messages.get("newrequest.title")</h4>
        	</div>
        	<div class="panel-body">
						<div id="user-requests-list" class="table-responsive">
						  <table class="table">
						  	<thead>
									<tr>
										<th></th>								
										<th>@Messages.get("request.number")</th>
										<th>@Messages.get("bill.number")</th>
										<th>@Messages.get("request.count")</th>
										<th class="euro">@Messages.get("request.delivery") &euro;</th>
										<th class="euro">@Messages.get("request.commission") &euro;</th>
										<th class="euro">@Messages.get("request.totalsumma") &euro;</th>
										<th>@Messages.get("request.status")</th>
										<th>@Messages.get("request.type")</th>
										<th></th>
									</tr>
								</thead>
				  			<tbody>
				  			@for(userRequest <- userRequests) {
				  				<tr id="userrequestitem_@userRequest.getUserRequestId">
				  					<td class="list_actions">
				  					@if(userRequest.getStatus != "SENDED") {
				  						<div class="btn-group">
						  					<button id="acceptrequest_@userRequest.getUserRequestId" onclick="acceptRequest(@userRequest.getUserRequestId); return false;" class="btn btn-xs btn-success"><i class="fa fa-check-circle bigger-120 list-icon" ></i></button>
				  						</div>
						  				}
				  					</td>
				  					<td>
				  					@userRequest.getUserRequestId</td>
				  					<td>@if(userRequest.getBill != null){ @userRequest.getBill.getBillId }else{ - }</td>
				  					<td>@userRequest.getRequest.size</td>
				  					<td>
				  					@if(userRequest.getRequestsType == "FULL") {
				  						@if(userRequest.getStatus != "SENDED") {
					  					<input id="deliveryPrice_@userRequest.getUserRequestId" type="number" min="0.00" tabindex="6" class="deliveryprices form-control" placeholder="0.00" value="@utils.MoneyUtils.formatPrice(userRequest.getDeliveryPrice)" style="width:90px;"/>
				  						}else{
				  						<span id="deliveryprice_out_@userRequest.getUserRequestId">@utils.MoneyUtils.formatPrice(userRequest.getDeliveryPrice)</span> &euro;
				  						}
				  					}else{
				  						-
				  					}
				  					</td>
				  					<td><span id="commissionprice_out_@userRequest.getUserRequestId">@utils.MoneyUtils.formatPrice(userRequest.getCommissionPrice)</span> &euro;</td>
				  					<td><span id="totalprice_out_@userRequest.getUserRequestId">@utils.MoneyUtils.formatPrice(userRequest.getTotalPrice)</span> &euro;</td>
				  					<td>@userRequest.getStatus</td>
				  					
				  					<td>@userRequest.getRequestsType</td>
				  					<td class="list_actions">
				  						<div class="btn-group">
					  						<button onclick="closeOpenActions(this, 'requests', @userRequest.getUserRequestId); return false;" class="btn btn-xs btn-info"><i class="fa fa-info-circle bigger-120 list-icon"></i></button>
					  						@if(userRequest.getStatus != "SENDED") {
					  						<button id="createrequest_@userRequest.getUserRequestId" onclick="Request.addNewRequest(@userRequest.getUserRequestId, '@userRequest.getRequestsType'); return false;" class="btn btn-xs btn-primary"><i class="fa fa-pencil bigger-120 list-icon" ></i></button>
					  						}
					  						<button onclick="sendRequestMessage(@userRequest.getUserRequestId); return false;"  class="btn btn-xs btn-warning"><i class="fa fa-envelope bigger-120 list-icon" ></i></button>
					  						<button onclick="closeOpenActions(this, 'messages', @userRequest.getUserRequestId, true); return false;" class="btn btn-xs btn-purple">
					  							<i class="fa fa-comment bigger-120 list-icon"></i>
					  							<span class="label">@userRequest.getQuestionMessages.size</span>
					  						</button>
				  						</div>
				  					</td>
				  				<tr>

				  				<tr id="requests_list_@userRequest.getUserRequestId" style="display:none;">
				  					<td colspan="10">
				  						<div class="table-responsive">
						  					<table  class="table table-bordered sub-lists" >
						  						<thead>
														<tr>
															<th>@Messages.get("request.name")</th>
											        <th class="count">@Messages.get("request.count")</th>
						       						@if(userRequest.getRequestsType == "FULL") {
								             	<th>@Messages.get("request.color")</th>
						             			<th>@Messages.get("request.size")</th>
						             			<th>@Messages.get("request.article")</th>
						             			}else{
						             			<th>@Messages.get("request.packagecode")</th>
						             			<th>@Messages.get("request.file")</th>
						             			}
						             			<th>@Messages.get("request.desc")</th>
												      <th class="euro">@Messages.get("request.price") &euro;</th>
											        <th class="euro">@Messages.get("request.summa") &euro;</th>

						             			<th>@Messages.get("request.date")</th>
											        <th class="actions"></th>
														</tr>
													</thead>
													<tbody>
														@for(request <- userRequest.getRequest) {
														<tr>
										       		<td class="name">@if(request.getType == "FULL") {<a href="@request.getStoreLink" target="_blank">@request.getName</a> <small style="display:block;">@utils.StringUtils.substring(request.getStoreLink, 30)</small>}else{@Messages.get("request.deliveryname")}</td>
									            <td>@request.getCount</td>
						              		@if(request.getType == "FULL") {
						                  <td>@request.getColor</td>
						                  <td>@request.getSize</td>
						                  <td>@request.getArticle</td>
						                  }else{
						                  <td>@request.getPackageCode</td>
						                  <td>
						                  	@for(doc <- request.getDocuments) {
							                  <a href="@routes.UserController.getusrdoc(doc)" target="_blank"><i class="fa fa-file-o"><!-- --></i></a>
						                  	}
						                  </td>
						                  }
						                  <td>@request.getDescription</td>
									            <td>@utils.MoneyUtils.formatPrice(request.getPrice) &euro;</td>
									            <td>@utils.MoneyUtils.formatPrice(request.getTotalSumma) &euro;</td>
									            
						                  <td>@(request.getCreated.format("dd.MM.yyyy"))</td>
									            
									            <td class="list_actions">
									            	<div class="btn-group">
									            	@if(userRequest.getStatus != "SENDED") {
									            	<button onclick="Request.getRequest(@request.getRequestId, @userRequest.getUserRequestId); return false;" title="@Messages.get("btn.requestedit")" class="btn btn-xs btn-primary"><i class="fa fa-edit fa-lg"  ><!--  --></i></button>
									            	<button onclick="Request.deleteRequest(@request.getRequestId, @userRequest.getUserRequestId); return false;" title="@Messages.get("btn.requestdelete")" class="btn btn-xs btn-danger"><i class="fa fa-trash-o fa-lg"><!--  --></i></button>
									            	}
									            	<!-- <i class="info" title="@Messages.get("btn.requestinfo")" onclick="closeOpenActions(this, 'requests', @request.getRequestId); return false;"></i> -->
									            	</div>
									            </td>
								            </tr>
								            }
													</tbody>												
						  					</table>
						  				</div>
				  					</td>
				  				</tr>
				  				@if(userRequest.getBill != null) {
			          	<tr>
			          		<td colspan="10">
			          			<div class="table-responsive">
				          			<table id="requests_bill_@userRequest.getUserRequestId" class="table table-bordered sub-lists">
				          			  <thead>
				                		<tr>
				                			<th>@Messages.get("bill.number")</th>
				                			<th class="euro">@Messages.get("request.summa") &euro;</th>
						                	<th class="euro">@Messages.get("request.delivery") &euro;</th>
						                	<th class="euro">@Messages.get("request.commission") &euro;</th>
						                	<th class="euro">@Messages.get("request.totalsumma") &euro;</th>
						                	<th>@Messages.get("request.status")</th>
						                	<th>@Messages.get("request.date")</th>
						                	<th>@Messages.get("request.payer")</th>
						                	<th></th>
				                		</tr>
				              		</thead>
				              		<tbody>
				                 		<tr class="state_@userRequest.getBill.getBillState">
				                 			<td>@userRequest.getBill.getBillId</td>
				                 			<td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getProductSumma) &euro;</td>
				                      <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getDeliverySumma) &euro;</td>
				                      <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getServiceSumma) &euro;</td>
				                      <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getTotalSumma) &euro;</td>
				                      <td>@userRequest.getBill.getBillState</td>
															<td>@userRequest.getBill.getCreated.format("dd.MM.yyyy")</td>
															<td>@userRequest.getUser.getFirstName @userRequest.getUser.getLastName</td>
															<td class="list_actions">
																<div class="btn-group">
					  											<button onclick="openPaymentMethods(@userRequest.getUserRequestId); return false;"  class="btn btn-xs btn-danger"><i class="fa fa-money bigger-120 list-icon" ></i></button>
					  										</div>
															</td>
				                 		</tr>
				                 		<tr class="paymentmethods" style="display:none;">
				                 			<td colspan="9">
				                 				<!-- <a href='@routes.UserController.bankpay(userRequest.getUserRequestId, "SEB")'><img alt="SEB" border="0" src="assets/images/seb_88x31.gif" /></a> -->
				                 				<a href='@routes.UserController.bankpay(userRequest.getUserRequestId, "SWEDBANK")'><img alt="Swedbank" border="0" src="assets/images/swed_88x31.gif" /></a>
				                 				<!--  <a href='@routes.UserController.paywm(userRequest.getUserRequestId)'><img alt="WebMoney" border="0" src="assets/images/webmoney_88x31.gif" /></a>-->
																<!-- <a href="https://light.wmtransfer.com/pci.aspx?url=https%3A//merchant.webmoney.ru/conf/pci_testlink.asp%3FG%3D12%26T%3D1&amp;purse=E235598496361&amp;amount=1.00&amp;method=POST&amp;desc=0YLQtdGB0YLQvtCy0YvQuSDRgtC+0LLQsNGA&amp;mode=test" class="external">Webmoney</a> -->
																<a href="@routes.UserController.paypalpay(userRequest.getUserRequestId)"><img alt="PayPal" border="0" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_buynow_pp_142x27.png" /></a>
				                 				<a href="@routes.UserController.getinvoice(userRequest.getBill.getBillId)" target="_blank"><img alt="Invoice" border="0" src="assets/images/icon_pdf_small.png" /></a>
				                 			</td>
				                 		</tr>
				              		</tbody>
				              	</table>
			              	</div>
			              </td>
			          	</tr>
			           	}
				  				<tr id="messages_list_@userRequest.getUserRequestId" style="display:none;">
          					<td colspan="10">
          						<div class="table-responsive">
	          						<table  class="table table-bordered sub-lists" >
	          							<thead>
						                <tr>
						                	<th colspan="3">@Messages.get("request.message")</th>
							               	<th>@Messages.get("request.user")</th>
								              <th>@Messages.get("request.date")</th>
								            </tr>
								          </thead>
								          <tbody>
								          @for(message <- userRequest.getQuestionMessages) {
								          	<tr class="question_messages">
								          		<td colspan="3">@message.getMessage</td>
						                 	<td>@message.getUser.getFirstName @message.getUser.getLastName</td>
						                 	<td>@(message.getCreated.format("dd.MM.yyyy"))</td>
						             		</tr>
		              					@if(message.getReplyMessages.size > 0) {
		               						@for(answer <- message.getReplyMessages) {
					                	<tr class="answer_messages">
					                	  <td></td>
					                    <td colspan="2">@answer.getMessage</td>
					                    <td>@answer.getUser.getFirstName @answer.getUser.getLastName</td>
					                    <td>@(answer.getCreated.format("dd.MM.yyyy"))</td>
					                	</tr>
						                	}
		      			         		}
		            			 		}
			          					</tbody>
	          						</table>
	          					</div>
			          		</td>
      			    	</tr>
				  				
				  			}
				  			</tbody>
				  		</table>
						</div>
        	</div>
				</div>
				}
			</div>
		</div>
		
		
		</div>
		<div class="tab-pane" id="req-history">

			<h1 class="page-header">@Messages.get("historyrequest.title") </h1>
		
			<div class="row">
				<div class="col-md-12">
	
					@if(historyUserRequests.size == 0) {
						<div class="alert alert-info" role="alert">@Messages.get("nohistoryrequest.title")</div>
					} else {
							<div id="user-requests-list" class="table-responsive">
							  <table id="history_userrequest" class="table user_requests_list">
									<thead>
										<tr>
											<th>@Messages.get("request.number")</th>
								    	<th>@Messages.get("request.reqcreated")</th>
								    	<th>@Messages.get("request.billcreated")</th>
								    	<th class="euro">@Messages.get("request.totalsumma") &euro;</th>
								    	<th>@Messages.get("request.status")</th>
								    	<th>@Messages.get("request.paymentdate")</th>
							       	<th class="actions"></th>
								   </tr>
							  </thead>
		  					<tbody>
									@for(userRequest <- historyUserRequests) {
		   						<tr id="requestitem_@userRequest.getUserRequestId"  class="item state_@userRequest.getBill.getBillState">
							   	 	<td>@userRequest.getUserRequestId</td>
							   		<td>@(userRequest.getCreated.format("dd.MM.yyyy"))</td>
							   		<td>@(userRequest.getBill.getCreated.format("dd.MM.yyyy"))</td>
						        <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getTotalSumma) &euro;</td>
						        <td>@userRequest.getBill.getBillState</td>
	    					    @if(userRequest.getBill.getBillState == "PAYED") {
				   					<td>@(userRequest.getBill.getPayed.format("dd.MM.yyyy"))</td>
		   							}else{
		        				
		        				@if(userRequest.getBill.getBillState == "UNPAYED") {
			   						<td>@(userRequest.getBill.getUnpayed.format("dd.MM.yyyy"))</td>
			   						}else{
			   						<td>@(userRequest.getBill.getActionDate.format("dd.MM.yyyy"))</td>
							   		}
		   							
		   							}
						        <td class="list_actions">
						        	<div class="btn-group">
						        		<button onclick="closeOpenActions(this, 'requests', @userRequest.getUserRequestId); return false;" class="btn btn-xs btn-info"><i class="fa fa-info-circle bigger-120 list-icon" title="@Messages.get("btn.requestinfo")"></i></button>
						        	</div>
						        </td>
						      </tr>
		   	
							   	<tr id="requests_list_@userRequest.getUserRequestId" class="item_info " style="display:none;">
		    						<td colspan="7">
		    							<div class="table-responsive">
		   					   			<table class="requests_bill table table-bordered sub-lists">
								   			  <thead>
								         		<tr>
								         			<th class="euro">@Messages.get("request.summa") &euro;</th>
									           	<th class="euro">@Messages.get("request.delivery") &euro;</th>
									           	<th class="euro">@Messages.get("request.commission") &euro;</th>
									           	<th class="euro">@Messages.get("request.totalsumma") &euro;</th>
									           	<th>@Messages.get("request.status")</th>
									           	<th>@Messages.get("request.date")</th>
									           	<th>@Messages.get("request.payer")</th>
								         		</tr>
								       		</thead>
								       		<tbody>
								       			<tr>
								       				<td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getProductSumma) &euro;</td>
								              <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getDeliverySumma) &euro;</td>
								              <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getServiceSumma) &euro;</td>
								              <td>@utils.MoneyUtils.formatPrice(userRequest.getBill.getTotalSumma) &euro;</td>
								              <td>@userRequest.getBill.getBillState</td>
															<td>@userRequest.getBill.getCreated.format("dd.MM.yyyy")</td>
															<td>@userRequest.getUser.getFirstName @userRequest.getUser.getLastName</td>
							          		</tr>
								       		</tbody>
								       	</table>
							       	</div>

		    							<div class="table-responsive">
								   			<table class="requests_list  table table-bordered sub-lists" >
								   				<thead>
								   					<tr>
											        <th>@Messages.get("request.name")</th>
										         	<th class="count">@Messages.get("request.count")</th>
											        <th class="euro">@Messages.get("request.price") &euro;</th>
										         	<th class="euro">@Messages.get("request.summa") &euro;</th>
								         		</tr>
								       		</thead>
								       		<tbody>
								       			@for(request <- userRequest.getRequest) {
								          	<tr>
								   						<td class="name">@request.getName</td>
							            		<td>@request.getCount</td>
							            		<td>@utils.MoneyUtils.formatPrice(request.getPrice) &euro;</td>
							            		<td>@utils.MoneyUtils.formatPrice(request.getTotalSumma) &euro;</td>
							            	</tr>
							            	}
							            </tbody>
							          </table>
						          </div>
						          
		    							<div class="table-responsive">
								    		<table class="requests_list table table-bordered sub-lists" >
								   				<thead>
								   					<tr>
								           		<th>@Messages.get("request.link")</th>
								           		<th>@Messages.get("request.color")</th>
								         			<th>@Messages.get("request.size")</th>
								         			<th>@Messages.get("request.article")</th>
								         			<th>@Messages.get("request.desc")</th>
								         			<th>@Messages.get("request.date")</th>
								         			<th>@Messages.get("request.type")</th>
								         		</tr>
								       		</thead>
								       		<tbody>
								       			@for(request <- userRequest.getRequest) {
								          	<tr>
								              <td><a href="@request.getStoreLink" target="_blank">@utils.StringUtils.substring(request.getStoreLink, 30)</a></td>
								              <td>@request.getColor</td>
								              <td>@request.getSize</td>
								              <td>@request.getArticle</td>
								              <td>@request.getDescription</td>
								              <td>@(request.getCreated.format("dd.MM.yyyy"))</td>
								              <td>@request.getType</td>
								          	</tr>
								          	}
								        	</tbody>
								   			</table>
							   			</div>
							   			
		    							<div class="table-responsive">
								   			<table class="messages_list table table-bordered sub-lists">
								   				<thead>
								   					<tr>
							               	<th colspan="3">@Messages.get("request.message")</th>
							               	<th>@Messages.get("request.user")</th>
								              <th>@Messages.get("request.date")</th>
								            </tr>
								          </thead>
								          <tbody>
									        @for(message <- userRequest.getQuestionMessages) {
								          	<tr class="question_messages">
								            	<td colspan="3">@message.getMessage</td>
							                <td>@message.getUser.getFirstName @message.getUser.getLastName</td>
							                <td>@(message.getCreated.format("dd.MM.yyyy"))</td>
							             	</tr>
							              @if(message.getReplyMessages.size > 0) {
								             	@for(answer <- message.getReplyMessages) {
									           	<tr class="answer_messages">
									           		<td></td>
							                  <td colspan="2">@answer.getMessage</td>
							                  <td>@answer.getUser.getFirstName @answer.getUser.getLastName</td>
							                  <td>@(answer.getCreated.format("dd.MM.yyyy"))</td>
							               	</tr>
							                }
								            }
								          }
									        </tbody>
							          </table>
						          </div>
							    	</td>
		    					</tr>
		  						}
		  					</tbody>
							</table>
						</div>

				}
			</div>
		</div>
	</div>	
</div>

</div>
 
	<div id="messagedialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
	    		<h3 class="header"></h3>
	    	</div>
	    @helper.form(routes.UserController.sendquetionmessage, 'id -> "messageForm") {
	    	<div class="modal-body">
	    		<div class="row">
	        	<div class="col-md-12">
		        	<div class="alert alert-danger errors" style="display:none;" role="alert">...</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group">
						  	<label for="message">@Messages.get("form.message")</label>
					      <textarea name="message" tabindex="17" class="form-control"  style="height: 150px;" placeholder="@Messages.get("form.message")"></textarea>
	        		</div>
	        	</div>
	        </div>
	    	</div>
	    	<div class="modal-footer">
		      <input type="hidden" id="userrequestid" name="userrequestid" value="">
		      <input type="hidden" id="origmsgid" name="origmsgid" value="0">
		      <input type="submit" id="sendmsgBtn" class="btn btn-2"  value="@Messages.get("btn.send")" tabindex="18">
	    	</div>
	    	}
	    </div>
		</div>
	</div>	    

	<div id="newfullrequestdialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
	    		<h3 class="header"></h3>
	    	</div>
	    	@helper.form(routes.UserController.createrequest, 'id -> "fullRequestForm", 'class -> "clearfix") {
	    	<div class="modal-body">
	    		<div class="row">
	        	<div class="col-md-12">
		        	<div class="alert alert-danger errors" style="display:none;" role="alert">...</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group link">
							  	<label for="storelink">@Messages.get("form.link")*</label>
									<input  type="text" name="storelink" class="form-control" name="storelink" value="" placeholder="http://www.ebay.com/itm/..." tabindex="1" class="mandatory">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group name">
						  	<label for="name">@Messages.get("form.name")*</label>
								<input  type="text" name="name"  id="name"  class="form-control" value="" placeholder="@Messages.get("form.name")" tabindex="2" class="mandatory">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group size">
						  	<label for="size">@Messages.get("form.size")</label>
								<input id="size" name="size" type="text" class="form-control" value="" tabindex="3"  placeholder="XL">
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group article">
						  	<label for="article">@Messages.get("form.article")</label>
								<input id="article" name="article" type="text" value="" class="form-control" tabindex="4"  placeholder="@Messages.get("form.article")">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group price">
						  	<label for="price">@Messages.get("form.price")*</label>
								<input name="price" type="text" tabindex="5" class="form-control"  placeholder="99.00" class="mandatory isprice">
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group color">
						  	<label for="color">@Messages.get("form.color")</label>
								<input name="color" type="text" tabindex="6" class="form-control"  placeholder="@Messages.get("form.color")">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group price">
						  	<label for="count">@Messages.get("form.count")*</label>
								<input name="count" type="text" tabindex="7" class="form-control" placeholder="@Messages.get("form.count")" class="mandatory isnumber">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group color">
						  	<label for="description">@Messages.get("form.description")</label>
					      <textarea name="description" tabindex="8"  class="form-control" placeholder="@Messages.get("form.description")" style="min-height:90px;"></textarea>
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
							<input name="type" id="type" type="hidden" value="1">
							<input name="userRequestId" id="userRequestId" type="hidden" value="0">
							<input name="requestId" id="requestId" type="hidden" value="0">
							<!-- <input type="button" id="calculate" class="primary_button" value="@Messages.get("btn.calculate")" tabindex="8"/>-->
							<a href="#" id="calculate" class="btn btn-2 pull-left" tabindex="9">@Messages.get("btn.calculate")</a>
							
	        	</div>
	        </div>
	        
	      </div>
	    	}
	    </div>
	  </div>
	</div>
	
	<div id="newdeliveryrequestdialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
	    		<h3 class="header"></h3>
	    	</div>
	    	@helper.form(routes.UserController.createrequest, 'id -> "deliveryRequestForm", 'class -> "clearfix") {
	    	<div class="modal-body">
	    		<div class="row">
	        	<div class="col-md-12">
		        	<div class="alert alert-danger errors" style="display:none;" role="alert">...</div>
	        	</div>
	        </div>
	        
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group">
						  	<label for="packagecode">@Messages.get("form.packagecode")*</label>
								<input name="packagecode" id="packagecode" type="text"  tabindex="8" placeholder="@Messages.get("form.packagecode")" class="mandatory form-control">
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group">
						  	<label for="price">@Messages.get("form.price")*</label>
								<input  name="price" type="text" tabindex="3"  placeholder="99.00" placeholder="@Messages.get("form.price")" class="mandatory isnumber form-control">
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	<div id="documents" class="col-md-12">
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-6">
	        		<label for="document">@Messages.get("request.file")</label>
				  		<input type="file" name="document" class="mandatory form-control">
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12">
	        		<div class="form-group color">
						  	<label for="description">@Messages.get("form.description")</label>
					      <textarea name="description" tabindex="8"  class="form-control" placeholder="@Messages.get("form.description")" style="min-height:90px;"></textarea>
	        		</div>
	        	</div>
	        </div>
	 				<div class="row">
	 					<div class="col-md-12">
							<input name="type" id="type" type="hidden" value="2">
							<input name="userRequestId" id="userRequestId" type="hidden" value="0">
							<input name="requestId" id="requestId" type="hidden" value="0">
							<!-- <input type="button" id="calculate" class="primary_button" value="@Messages.get("btn.calculate")" tabindex="8"/> -->
							<a href="#" id="calculate" class="btn btn-2 pull-left" tabindex="9">@Messages.get("btn.calculate")</a>
	 					</div>
	 				</div>        
	        
	        
	      </div>
	      }
	    </div>
	  </div>
	</div>
	<div id="edituserdialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
	    		<h3 class="header"></h3>
	    	</div>
	    	@helper.form(routes.UserController.updatecurrentuser, 'id -> "userForm") {
	    	<div class="modal-body">
	    		<div class="row">
	        	<div class="col-md-12">
		        	<div class="alert alert-danger errors" style="display:none;" role="alert">...</div>
	        	</div>
	        </div>
	        
					<div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group">
						  	<label for="username">@Messages.get("registration.username")</label>
				        <input type="text" name="username"  tabindex="19" placeholder="@Messages.get("registration.username")" class="mandatory form-control" readonly="true">
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group">
						  	<label for="email">@Messages.get("registration.email")</label>
				        <input type="email" name="email"  tabindex="19" placeholder="@Messages.get("registration.email")" class="mandatory isemail form-control" readonly="true">
	        		</div>
	        	</div>
	        </div>	        

					<div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group">
						  	<label for="firstname">@Messages.get("registration.firstname")</label>
				        <input type="text" name="firstname" tabindex="17" placeholder="@Messages.get("registration.firstname")"  class="mandatory form-control">
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group">
								<label for="lastname">@Messages.get("registration.lastname")</label>
				        <input type="text" name="lastname" tabindex="18" placeholder="@Messages.get("registration.lastname")" class="mandatory form-control" >
	        		</div>
	        	</div>
	        </div>	        

					<div class="row">
	        	<div class="col-md-6">
	        		<div class="form-group">
								<label for="birthdate">@Messages.get("registration.birthdate")</label>
				        <input type="text" name="birthdate"  tabindex="20" data-date-format="dd.mm.yy" placeholder="@Messages.get("registration.birthdate")" class="birthdate form-control">
	        		</div>
	        	</div>
	        	<div class="col-md-6">
	        		<div class="form-group">
								<label for="passportnr">@Messages.get("registration.passportnr")</label>
				        <input type="text" name="passportnr"  tabindex="21" placeholder="@Messages.get("registration.passportnr")" class="mandatory form-control">
	        		</div>
	        	</div>
	        </div>
	 				<div class="row">
	 					<div class="col-md-12">
							<input type="hidden" id="userid" name="userid">            
					    <!-- <input type="button" id="updateUserBtn" class="primary_button" value="@Messages.get("btn.update")" tabindex="23"> -->
							<a href="#" id="updateUserBtn" class="btn btn-2 pull-left" tabindex="23">@Messages.get("btn.update")</a>
	 					</div>
	 				</div>        
	      </div>
	    	}
	    </div>
	  </div>
	</div>
	
	
	<script type="text/javascript">
	$(document).ready(function() {
		$.preparePayMessage();
	});
</script>

	 
}